// Content Search
.search-card {
  display: block;
  padding: 50px 20px;
  .search-content-inner {
    max-width: 1300px;
    margin: 0 auto;
  }
  &:nth-of-type(odd) {
    background: $offWhite;
  }
}