// Footer Styles

section.newsletter {
  display: flex;
  align-items: center;
  min-height: 500px;
  .container {
    display: flex;
    align-items: center;
  }
  h2 span {
    -webkit-text-stroke-color: $white;
  }
  .wpcf7 {
    width: 100%;
    form {
      align-items: center;
    }
    p:first-of-type {
      width: 100%;
    }
    input[type=email] {
      width: 100%;
    }
    .wpcf7-submit {
      -webkit-appearance: none;
      border: none;
      text-transform: uppercase;
      font-family: $fontMain;
      color: $white;
      font-size: 14px;
      letter-spacing: 0.1em;
      font-weight: $medium;
      background: transparent;
      border-bottom: 1px solid $white;
      padding: 8px 10px;
      margin-left: 20px; 
    }
    span.ajax-loader {
      display: none;
    }
  }
}

footer {
  background-color: $offBlack;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  &.container-large {
    padding-top: 190px;
    padding-bottom: 190px;
  }
  a {
    text-transform: unset;
  }
  .footer-logo {
    width: 30%;
    svg {
      width: 100px;
      margin-bottom: 30px;
      path {
        fill: $white;
      }
    }
    .disclaimer {
      color: #7B7B7B;
      font-size: 12px;
      line-height: 22px;
      max-width: 375px;
      margin-bottom: 100px;
      a {
        font-weight: $bold;
        font-style: italic;
        text-decoration: underline;
        color: #7B7B7B;
      }
    }
    .copyright {
      color: $white;
      font-size: 12px;
      line-height: 20px;
    }
  }
  .footer-right {
    width: 60%;
    .footer-menu {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 100px;
    }
    .footer-social {
      display: flex;
      justify-content: flex-end;
      .social {
        max-width: 800px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        a {
          padding-right: 30px;
        }
      }
    }
  }
  .menu-footer-menu-container {
    max-width: 800px;
    width: 100%;
    ul {
      display: flex;
      li {
        list-style-type: none;
        display: inline-block;
        padding: 0 22.5px;
        text-indent: 0;

        &:before {
          content: none;
        }

        a {
          text-decoration: none;
          font-size: 16px;
          line-height: 30px;
          font-family: $fontMain;
          color: $white;
          font-weight: $book;

          &:hover {
            color: invert($footerColor,20%);
          }
        }
        &.menu-item-has-children {
          display: flex;
          flex-direction: column;
          width: 33.333%;
          ul.sub-menu {
            flex-direction: column;
            li {
              padding: 0;
            }
          }
        }
        &.menu-item-has-children > a {
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 0.1em;
          font-weight: $medium;
          font-family: $fontMain;
          margin-bottom: 15px;
        }
      }
    }
  }
}
