// Header styles

header {
  &.container-large {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    transition: margin-top .5s cubic-bezier(.215,.61,.355,1);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    position: relative;
    z-index: 3;
    background-color: $headerColor;
    //&.cart-open {
    //  margin-top: 600px;
    //}
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
  }
  .header-right {
    display: flex;
    align-items: center;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 81.67px;
    height: 50px;
    svg {
      width: 81.67px;
      height: 50px;
      path {
        @include hover-transition;
      }
    }
  }
  a.other-link, .header-cart-count .icon {
    text-decoration: none;
    color: $offBlack;
    font-weight: $medium;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    position: relative;
    @include flexbox;
    @include align-items(center);
    font-family: $fontMain;
    padding-right: 20px;
  }
  .menu-main-menu-container, .menu-mobile-menu-container {
    ul {
      li {
        list-style-type: none;
        text-decoration: none;
        display: inline-block;
        padding: 0 20px;
        position: relative;
        text-indent: 0;

        &.current-menu-item {
          a {
            color: $black;

            &.not-active {
              color: $black;
            }
          }
        }

        a {
          text-decoration: none;
          color: $offBlack;
          font-weight: $medium;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.1em;
          position: relative;
          @include flexbox;
          @include align-items(center);
          font-family: $fontMain;
          padding: 28px 0;

          &.not-active {

          }
        }

        &:before {
          content: '';
          width: 0;
          height: 3px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $offBlack;
          @include hover-transition();
        }
        &:hover, &.current-menu-item {
          &:before {
            width: 100%;
          }
        }

        &.menu-item-has-children {
          ul.sub-menu {
            position: absolute;
            left: 0;
            top: 73px;
            min-width: 250px;
            background: $offWhite;
            display: flex;
            flex-direction: column;
            border-radius: 0 0 8px 8px;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            z-index: 1;
            padding-top: 3px;
            @include hover-transition();
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 3px;
              background: $offBlack;
              z-index: 2;
              @include hover-transition();
            }
            li {
              @include hover-transition();
              a {
                padding: 15px 0;
              }
              &:before {
                display: none;
              }
              &:hover {
                background: darken($offWhite, 8%);
              }
              &:last-of-type {
                border-radius: 0 0 8px 8px;
              }
            }
          }
          &:hover {
            ul.sub-menu {
              max-height: 800px;
              opacity: 1;
              overflow: visible;
              &:before {
                width: 100%;
              }
            }
          }
        }

      }
    }
  }
  &.checkout-header {
    background: $offBlack;
    transition: margin-top .5s cubic-bezier(.215,.61,.355,1);
    .container {
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      .left {
        a {
          color: $white;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: $medium;
          letter-spacing: 0.15em;
        }
      }
      .right {
        display: flex;
        align-items: center;
        .cart-total {
          font-size: 22px;
          color: $white;
          margin-right: 20px;
          span {
            font-weight: $medium;
          }
        }
        .cart-count {
          font-size: 12px;
          color: $white;
          background: $cartCounterBGColor;
          padding: 10px;
          border-radius: 100%;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          .cart-count-number-span {
            pointer-events: none;
          }
        }
      }
    }
    &.cart-open {
      margin-top: 600px;
    }
  }
}

// Mobile Menu

.header-hamburger {
  margin-left: 20px;
}

.hamburger {
  width: 20px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 3;
  position: relative;

  $span-space: 8px;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: invert($headerColor);
    border-radius: $btn-border-radius;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: $span-space
    }
    &:nth-child(4) {
      top: $span-space * 2;
    }

  }
  &.open {
    span {
      top: 8px;
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
    }
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: $offWhite;
  z-index: 2;
  transition: all 0.8s ease-in-out;
  .container {
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.8s ease-in-out;
    .chunky-links {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 2px solid $offWhite;
      .chunky-link {
        background: #e6e4e2;
        width: 50%;
        padding: 30px;
        margin: 0;
        text-align: center;
        color: $offBlack;
        text-transform: uppercase;
        font-weight: $medium;
        letter-spacing: 0.04em;
        &:first-of-type {
          border-right: 2px solid $offWhite;
        }
      }
    }
    .menu-mobile-menu-container {
      margin-top: 50px;
      ul {
        display: flex;
        flex-direction: column;
        li {
          list-style: none;
          padding: 10px 0;
          transform: translateX(0);
          opacity: 0;
          transition: transform 0.3s ease-in-out, opacity 0.8s ease-in-out;
          &:before {
            display: none;
          }
          &:first-of-type {
            transition-delay: 0.6s;
          }
          &:nth-of-type(2) {
            transition-delay: 0.8s;
          }
          &:nth-of-type(3) {
            transition-delay: 1s;
          }
          &:nth-of-type(4) {
            transition-delay: 1.2s;
          }
          &:nth-of-type(5) {
            transition-delay: 1.4s;
          }
          &:nth-of-type(6) {
            transition-delay: 1.6s;
          }
          a {
            font-family: $fontMain;
            font-size: 20px;
            padding: 0;
            color: $offBlack;
            &:before {
              height: 0;
            }
          }
        }
      }
    }
  }
  &.open {
    height: 100%;
    .container {
      height: 100%;
      padding: 60px 0;
      .menu-mobile-menu-container {
        ul {
          li {
            transform: translateX(20px);
            opacity: 1;
          }
        }
      }
    }
  }
}
