section.hero, section.hero-video {
  background-size: cover !important;
  width: 100%;
  height: 1150px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  h1 {
    color: $white;
    margin-bottom: 50px;
    position: relative;
    top: 10px;
    max-width: 500px;
    span {
      -webkit-text-stroke-color: $white;
    }
  }

  h5.hero-subtitle {
    color: $white;
  }

  .hero-text {
    padding-left: 100px;
    position: relative;
    z-index: 1;

    a {
      opacity: 0;
      color: $white;
      margin-top: 30px;
      font-size: 12px;
      line-height: 30px;
      font-weight: $bold;
      letter-spacing: $letterspace;
      text-transform: uppercase;
      text-decoration: none;
      @include inline-flexbox;
      @include align-items(center);
      position: relative;
      top: 10px;
      @include transition(none);

      svg {
        margin-right: 20px;
        .cls-1 {
          fill: $white;
        }
      }
    }
  }

  .hero-testimonial {
    background: $white;
    padding: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 960px;
    width: 100%;
    h4 {
      max-width: 560px;
      margin-bottom: 30px;
    }
  }

  .container-large {
    padding-top: 0;
    padding-bottom: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}
section.hero-video {
  height: auto;
  max-height: 1000px;
  .video-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: -1;
    video.hero-video-bkg {
      height: auto;
      width: 100%;
    }
  }
  .container-large {
    position: absolute;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
section.hero {

  .internal-hero-image {
    width: 100%;
    height: 600px;
    position: absolute;
    top:100px;
    overflow: hidden;

    a.video-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      max-width: inherit;
      width: auto;
      height: auto;
    }

    .background-video {
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      position: absolute;
      left: 0;
      top: 0;

      video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
      }
      img {
        display: none;
      }
    }
  }
}


