/* =================================
  Base Styles
==================================== */

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-family: $fontMain;
  @include flexbox();
  flex-direction: column;
  min-height: 100vh;
  margin-top: 0;
  transition: margin-top .5s cubic-bezier(.215, .61, .355, 1);

  &.fixed, &.no-scroll {
    overflow: hidden;
  }

  &.no-scroll {
    .site-content {
      z-index: 0;
    }
  }

  &.error404 {
    height: 100%;
  }

  .site-content {
    overflow: hidden;
    &.open {
      overflow: hidden;
    }
    &.cart-open {
      margin-top: 600px;
    }
    &.sticky-header {
      margin-top: 78px;
    }
  }
  &.cart-open {
    margin-top: 590px;
  }
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: $fontColor;
  @include hover-transition;
}

i {
  font-style: italic;
}

strong {
  font-weight: $bold;
}

.text-white {
  color: $white;
}

.text-accent {
  color: $accentColor;
}

.text-center {
  text-align: center;
}

.btn-wrap {
  @include flexbox();
  margin-top: 20px;
}

.btn {
  padding: 25px 50px;
  font-family: $fontMain;
  font-weight: $medium;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $offBlack;
  font-size: 14px;
  cursor: pointer;
  @include hover-transition();
  color: $white;
  background: $offBlack;
  border-radius: 8px;
  letter-spacing: 0.1em;
  &:hover {
    background: transparent;
    border-color: $white;
  }

  &.btn-outline {
    background: transparent;
    color: $offBlack;
    &:hover {
      background: $offBlack;
      color: $white;
      border-color: $offBlack;
    }
  }
  &.next, &.dark-hover {
    &:hover {
      background: lighten($offBlack, 20%);
      border-color: lighten($offBlack, 20%);
    }
  }
}

.container {
  max-width: $container;
  padding: 100px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container-large {
  max-width: 100% !important;
  width: 100%;
  padding: 50px;
}

.container-small {
  width: $container/2;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.lazyload-wrap {
  img {
    opacity: 0;
    @include hover-transition();

    &.lazyloaded {
      opacity: 1;
    }
  }
}

.fadeUp {
  opacity: 0;
  top: 50px;
  position: relative;
}

.visible-mobile {
  display: none;
}

// Gravity Form Mobile Styling
.gform_button {
  -webkit-appearance: none;
  border-radius: 0 !important;
}

.gfield {
  input, textarea {
    outline: none;
    border-radius: 0 !important;
  }
}

section.newsletter {
  .text-wrap {
    max-width: 700px;
    p {
      color: $white;
    }
  }
  .gform_wrapper {
    width: 50%;
  }
  .gform_footer {
    width: auto;
  }
  form {
    display: flex;
    input[type=text] {
      border: none;
      background: transparent;
      -webkit-appearance: none;
      border-bottom: 2px solid $white;
      padding: 8px 0 !important;
      color: $white;
      font-size: 16px !important;
      font-family: $fontMain;
      margin-right: 20px;
      &::placeholder {
        color: $white;
        font-size: 16px !important;
        font-family: $fontMain;
      }
    }
    .button {
      padding: 0 0 12px;
      border: none;
      border-bottom: 2px solid $white;
      border-radius: 0 !important;
      background: transparent;
      &:hover {
        border-bottom-color: $offBlack;
      }
    }
  }
  .gform_confirmation {
    color: $white;
  }
}

// Sizes

.twenty {
  width: 20%;
}

.twenty-five {
  width: 25%;
}

.thirty {
  width: 30%;
}

.forty {
  width: 40%;
}

.forty-five {
  width: 45%;
}

.fifty {
  width: 50%;
}

.sixty {
  width: 60%;
}

.sixty-five {
  width: 65%;
}

.seventy {
  width: 70%;
}

.seventy-five {
  width: 75%;
}

.eighty {
  width: 80%;
}

.full {
  width: 100%;
}

// Flexbox Classes
.flex {
  display: flex;
}
.flex-jc {
  justify-content: center;
}
.flex-sb {
  justify-content: space-between;
}
.flex-ac {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-flow: row wrap;
}

// Background Colors

.bg-ofb {
  background: $offBlack;
}
.bg-ofw {
  background: $offWhite;
}

// Content Colors
.content-wht {
  color: $white;
}
.content-outline-wht {
  -webkit-text-stroke: 2px $white;
}



// Universal Sections

section.marquee-text {
  padding: 100px 0;
  overflow: hidden;
  white-space: nowrap;
  h3 {
    -webkit-text-stroke-color: $white;
  }
}

#marquee-text-1 {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

#marquee-text-2 {
  display: inline-block;
  animation: marquee2 10s linear infinite;
  transition-delay: 10s;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

section.livity-is-life {
  &.container {
    padding: 190px 100px;
  }
  .graphic {
    img {
      width: 100%;
    }
  }
  .box {
    width: calc(50% - 80px);
    margin: 0 40px 50px;
    h4 {
      margin-bottom: 20px;
    }
  }
}

section.shop-by-cat {
  .cat {
    width: 33.333%;
    padding: 40px;
    position: relative;
    h5, img {
      position: relative;
      z-index: 1;
    }
    h5 {
      color: $white;
      text-align: center;
    }
    img {
      margin: 0 auto 10px;
      width: 500px;
    }
    .overlay {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 24%;
      background: linear-gradient(to top, rgba(34,34,34,0.9), rgba(34,34,34,0.5), transparent);
      zz-index: 0;
      @include hover-transition();
    }
    &:hover {
      .overlay {
        height: 100%;
        background: rgba(34,34,34,0.9);
      }
    }
  }
}

section.blog-slider-section {
  padding: 100px 0;
  h3 {
    padding: 0 100px;
    max-width: $container;
    margin-bottom: 50px;
  }

  .blog-slider {
    .owl-stage-outer {
      margin-left: 100px;
    }
    .owl-stage {
      padding-left: 0 !important;
    }
    .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .owl-next {
        background: $offBlack;
        padding: 16px 30px !important;
        border-radius: 30px 0 0 30px;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid $white;
        }
      }
      .owl-prev {
        display: none;
      }
    }
    .post {
      .image {
        height: 300px;
      }
      .title {
        padding: 50px 40px;
        background: $white;
        h6 {
          max-width: 870px;
          margin-bottom: 50px;
        }
        .blog-btn {
          color: $gold;
          text-transform: uppercase;
          font-weight: $medium;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.1em;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

section.blog-grid {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    .post {
      .image {
        height: 300px;
      }
      .title {
        padding: 50px 40px;
        background: $white;
        min-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h6 {
          max-width: 870px;
          margin-bottom: 50px;
        }
        .blog-btn {
          color: $gold;
          text-transform: uppercase;
          font-weight: $medium;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.1em;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

body.single-post {
  section.page-header {
    margin-bottom: 200px;
  }
  section.blog-content {
    .container {
      overflow: visible;

      .blog-top {
        margin-top: -330px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .blog-image {
          width: 65%;
          border: 2px solid $offBlack;
          overflow: hidden;
        }
        .blog-sidebar {
          width: calc(35% - 30px);
          background: $white;
          border: 2px solid $offBlack;
          padding: 50px;
          .block {
            margin-bottom: 30px;
            .btn-wrap {
              flex-direction: column;
              a {
                padding-bottom: 5px;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          .product-sugg {
            img {
              max-width: 180px;
              background: $offWhite;
              margin-bottom: 20px;
            }
          }
          .social {
            .social-link {
              padding-right: 10px;
            }
            .fa {
              &:before {
                font-size: 25px;
                @include hover-transition();
              }
              &:hover {
                &:before {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
      .blog-wrap {
        padding: 50px 30px;
        background: white;
        width: 65%;
        border: 2px solid $offBlack;
        p {
          margin-bottom: 20px;
        }
        ul {
          list-style: none;
          margin: 20px 0;
          li {
            position: relative;
            padding-left: 20px;
            font-weight: $book;
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 0;
            &:before {
              content: "";
              position: absolute;
              width: 7px;
              height: 7px;
              border-radius: 100%;
              background: $offBlack;
              top: 13px;
              left: 0;
            }
          }
        }
        ol {
          list-style: none;
          counter-reset: my-awesome-counter;
          margin: 20px 0;
          li {
            position: relative;
            font-weight: $book;
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 0;
            counter-increment: my-awesome-counter;
            &:before {
              content: counter(my-awesome-counter) ". ";
              color: $offBlack;
              font-weight: $bold;
            }
          }
        }
      }
    }
  }
}

