/* +++++++++++++++++   Media Queries  ++++++++++++++++++++++ */


/* *********************************************************************** */
/* *****************  BREAKPOINT: Tablet Horizontal - 1280px ***************** */
/* *********************************************************************** */

@media only screen and (max-width:$breakpoint-tablet-horiz){

  // Header
  header {
    .menu-main-menu-container {
      ul li {
        padding: 0 10px;
      }
    }
  }

}

/* ********************************************************************** */
/* *****************  BREAKPOINT: Laptop Small - 991px ****************** */
/* ********************************************************************** */

@media only screen and ( max-width:$breakpoint-laptop-small){

  @include debug("Tablet Large: #{$breakpoint-laptop-small}", $debug);

  .container {
    padding: 50px 20px;
  }
  .container-large {
    padding: 50px 20px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
  }

  // Header
  header {
    &.container-large {
      padding: 15px 20px;
    }
    .logo {
      position: relative;
      left: 0;
      transform: unset;
      width: 61.67px;
      height: 50px;
      svg {
        width: 61.67px;
        height: 50px;
      }
    }
  }

  // Footer
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    &.container-large {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .footer-logo {
      width: 100%;
      margin-bottom: 30px;
      .disclaimer {
        margin: 0 auto 20px;
      }
    }
    .footer-right {
      width: 100%;
      .footer-menu {
        margin-bottom: 40px;
      }
      .footer-social {
        .social {
          padding-left: 0;
          justify-content: center;
        }
      }
    }
  }

  // Woo Dashboard
  body.woocommerce-account {
    .order-history {
      h4 {
        margin-bottom: 20px;
      }
    }
    table.shop_table {
      thead {
        display: none;
      }
      tbody {
        tr {
          grid-template-columns: 1fr;
          grid-row-gap: 10px;
          padding: 20px;
          td.order-actions {
            justify-content: flex-start;
          }
        }
      }
    }
  }



}

/* **************************************************************** */
/* *****************  BREAKPOINT: Tablet Vertical - 785px ********* */
/* **************************************************************** */

@media only screen and ( max-width:$breakpoint-tablet-vert){

  .visible-tablet{
    display:block !important;
  }
  .hidden-tablet{
    display:none !important;
  }

  // Woo Dashboard
  body.woocommerce-account {
    .account-content {
      .row {
        flex-direction: column;
        .account-details, .shipping-info {
          width: 100%;
          padding: 20px;
        }
        .account-details {
          margin-right: 0;
          margin-bottom: 20px;
        }
        .shipping-info {
          margin-left: 0;
        }
      }
    }
    .woocommerce-MyAccount-content {
      margin-top: 20px;
    }
    .woocommerce-MyAccount-navigation {
      display: none;
      padding: 20px;
      margin-top: -7px;
      border: 2px solid #e4e4e4;
      background: $white;
      border-radius: 0 0 8px 8px;
      ul {
        flex-direction: column;
      }
      li {
        padding-bottom: 10px;
        &:hover {
          a {
            &:after {
              display: none;
            }
          }
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    // Mobile Navigation
    .mobile-dash-menu {
      display: flex !important;
      padding: 20px;
      border: 2px solid #e4e4e4;
      background: $white;
      border-radius: 8px;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      .menu-text {
        h5 {
          margin-bottom: 0;
        }
      }
      .menu-plus {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          position: absolute;
          height: 3px;
          width: 20px;
          background: $lightGray;
          &:nth-of-type(2) {
            transform: rotate(90deg);
            @include hover-transition();
          }
        }
      }
      &.open {
        .menu-plus span {
          &:nth-of-type(2) {
            transform: rotate(0);
          }
        }
      }
    }
  }


}

/* **************************************************************** */
/* *****************  BREAKPOINT: Tablet Vertical - 620px ********* */
/* **************************************************************** */

@media only screen and ( max-width: 620px) {

  // Footer
  footer {
    .menu-footer-menu-container {
      ul {
        flex-flow: row wrap;
        li {
          &.menu-item-has-children {
            width: 100%;
            padding: 0 0 20px;
            > a {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

}

/* **************************************************************** */
/* *****************  BREAKPOINT: Tablet Vertical - 600px ********* */
/* **************************************************************** */

@media only screen and ( max-width: 600px) {

  // Account Pages - Addresses
  body.woocommerce-account {
    .woocommerce-Addresses {
      flex-direction: column;
      .woocommerce-Address {
        width: 100%;
        padding: 20px;
        &.col-1 {
          margin-right: 0;
          margin-bottom: 20px;
        }
        &.col-2 {
          margin-left: 0;
        }
      }
    }
    .woocommerce-customer-details {
      section.addresses {
        flex-direction: column;
        .woocommerce-column {
          width: 100%;
          &.col-1 {
            margin-right: 0;
            margin-bottom: 20px;
          }
          &.col-2 {
            margin-left: 0;
          }
        }
      }
    }
  }

}


/* *************************************************************** */
/* *****************  BREAKPOINT: Phone - 480px ****************** */
/* *************************************************************** */

@media only screen and ( max-width:$breakpoint-phone ){


  .visible-mobile{
    display:flex !important;
  }
  .hidden-mobile{
    display:none !important;
  }
  footer{
    .content{
      @include flex-direction(column);
    }
  }

}
