/* Set universal font sizes and styles here */
h1, .h1 {
  font-family: $fontMain;
  font-weight: $weightBlack;
  text-transform: uppercase;
  color: $offBlack;
  font-size: 75px;
  line-height: 78px;
  letter-spacing: 0.01em;
  span {
    color: transparent;
    -webkit-text-stroke: 2px $offBlack;
    font-weight: $weightBlack;
  }
}

h2, .h2 {
  font-family: $fontMain;
  font-weight: $weightBlack;
  text-transform: uppercase;
  color: $offBlack;
  font-size: 75px;
  line-height: 78px;
  letter-spacing: 0.01em;
  span {
    color: transparent;
    -webkit-text-stroke: 2px $offBlack;
    font-weight: $weightBlack;
  }
}

h3, .h3 {
  font-family: $fontMain;
  color: transparent;
  text-transform: uppercase;
  font-weight: $weightBlack;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.01em;
  -webkit-text-stroke: 1px $offBlack;
}

h4, .h4 {
  font-family: $fontMain;
  color: $offBlack;
  font-weight: $medium;
  font-size: 34px;
  line-height: 48px;
  letter-spacing: 0;
}
h5, .h5 {
  font-family: $fontMain;
  font-weight: $medium;
  text-transform: uppercase;
  color: $offBlack;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
h6, .h6 {
  font-family: $fontMain;
  color: $offBlack;
  font-weight: $medium;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0;
}

p {
  font-family: $fontMain;
  color: $offBlack;
  font-weight: $book;
  font-size: 20px;
  line-height: 34px;
  letter-spacing:0;
}
