/*** DEBUG ****/
// Set true for debugging - this will show the media query breakpoints //
$debug: true;

/*COLORS*/
$black: #000;
$white: #fff;
$offWhite: #F8FBFF;
$fontColor: #333;
$gray: #ccc;
$darkGray:  #302f31;
$medGray:  #626363;
$textGray: #696767;
$lightGray: #e5e5e5;
$headerColor: $white;
$footerColor: $gray;

$errorColor: #FF4200;

// Theme Colors
$accent: #F51644;
$accentColor: $accent;
$primary: #0246A8;
$secondary: #0C2664;
$pColor: $secondary;
$gradient: transparent linear-gradient(180deg, #0246A8 0%, #00B7FF 75%, #00F5FF 100%) 0% 0% no-repeat padding-box;
$gradient-rev:transparent linear-gradient(0deg, #0246A8 0%, #00B7FF 75%, #00F5FF 100%) 0% 0% no-repeat padding-box;
$btn-gradient: transparent linear-gradient(270deg, #00ADF1 0%, #00ADF1 8%, #00D4DD 100%) 0% 0% no-repeat padding-box;
$hero-gradient: transparent linear-gradient(180deg, #003CB2 8%, #00ADF1 100% ) 0% 0% no-repeat padding-box;
$line-gradient: transparent linear-gradient(270deg,#0246A8 0%,#00ADF1 75%, #00D4DD 100%) 0% 0% no-repeat padding-box;

/* SIZES */
$container: 1300px;

/* TYPOGRAPHY */
$fontMain: sweet-sans-pro, sans-serif;
$fontMainSans: sweet-sans-pro, sans-serif;
$fontBody: source-serif-pro, serif;

$fontHeader: $fontMain;

$regular: 600;
$medium: 700;
$bold: 800;

$letterspace: -0.5px;
$lineheight : 25px;

$btn-border-radius: 5px;

/* MEDIA QUERY BREAKPOINTS */

$breakpoint-desktop-large : 1920px;
$breakpoint-desktop-med : 1440px;
$breakpoint-desktop-small : 1060px;
$breakpoint-tablet-large : 991px;
$breakpoint-tablet : 785px;
$breakpoint-phone : 480px;
