/*** DEBUG ****/
// Set true for debugging - this will show the media query breakpoints //
$debug: true;

/*COLORS*/
$black: #000;
$white: #fff;
$fontColor: #333;
$gray: #ccc;
$accentColor: #bea07b;
$darkGray:  #302f31;
$medGray:  #626363;
$textGray: #696767;
$lightGray: #ccc9c6;
$headerColor: $white;
$footerColor: $gray;
$offWhite: #F8FBFF;
$offBlack: #1f1f1f;

$gold: #FEA919;

$errorColor: #FF4200;

/* SIZES */
$container: 1720px;

/* TYPOGRAPHY */
$fontMain: usual, sans-serif;
$fontMainSans: usual, sans-serif;

$fontHeader: $fontMain;

$extraLight: 100;
$light: 300;
$book: 400;
$regular: 500;
$medium: 600;
$bold: 700;
$weightBlack: 800;

$letterspace: -0.5px;
$lineheight : 25px;

$btn-border-radius: 5px;

/* MEDIA QUERY BREAKPOINTS */

$breakpoint-desktop-xlarge : 1920px;
$breakpoint-desktop-large : 1600px;
$breakpoint-desktop-med : 1440px;
$breakpoint-tablet-horiz : 1280px;
$breakpoint-laptop-med : 1060px;
$breakpoint-laptop-small : 991px;
$breakpoint-tablet-vert : 785px;
$breakpoint-phone : 480px;
$breakpoint-iphone : 414px;

/* WOOCOMMERCE TEMPLATE VARIABLES */

$woocommerceSkinColor: var(--woo-skin-color);

$cartBGColor: var(--cart-bg-color);
$cartContentColor: var(--cart-content-color);
$cartTextColor: var(--cart-text-color);
$cartCounterColor: var(--cart-counter-color);
$cartCounterBGColor: var(--cart-counter-bg-color);
$inactiveColor: var(--inactive-color);

$checkoutBGColor: var(--checkout-bg-color);
$checkoutShippingInactive: var(--checkout-shipping-inactive-color);
