section.all-articles-section{
  .h2{
    margin-bottom: 30px;
    em{
      text-decoration: underline;
      font-style: normal;
    }
    a{
      color: $primary;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width:840px){
  section.all-articles-section{
    .articles{
      flex-direction: column;
      align-items: center;
    }
  }
}
//@media only screen and ( max-width: 840px) {
//  .article-single{
//    width: calc(100%);
//    margin: 0 auto 50px;
//    &:last-of-type{
//      margin-bottom: 0;
//    }
//  }
//}