section.archive-section{
  .mobile-filters-container{
    display:none;
  }
  .filters-container{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: #F8FBFF;
    .filter-button{
      display:flex;
      align-items: center;
      //padding: 7px 20px 10px 20px;
      padding:10px 20px;
      margin: 5px 5px;
      border: 1px solid $primary;
      border-radius: 50px;
      color: $primary;
      font-weight:$medium;
      &.active{
        background: $primary;
        color: $white;
        svg{
          path{
            fill:$white;
          }
        }
      }
      &:hover{
        background: $primary;
        color: $white;
        svg{
          path{
            @include hover-transition();
            fill:$white;
          }
        }
      }
    }
    svg{
      width: 23px;
      height:22px;
      margin-right: 10px;
      path{
        @include hover-transition();
      }
    }
  }
  .archive-item-container{
    justify-content: flex-start;
  }
  .card-single{
    width:calc(33% - 20px);
    margin: 0 10px 20px 10px;
  }
  &.archive-product{
    .filters-container{
      margin-top: -120px;
      background: transparent;
      .filter-button{
        background: rgba(255,255,255,.8);
        &.active{
          background: $primary;
        }
        &:hover{
          background: $primary;
        }
      }
    }
  }
}


@media only screen and (max-width: $breakpoint-tablet-large){
  section.archive-section {
    &.archive-product {
        .filters-container {
          margin-top: 0px;
          padding-bottom: 0px;
        }
    }
  }
}

@media only screen and ( max-width:$breakpoint-tablet) {
  section.archive-section {
    .card-single {
      width: calc(50% - 20px);
      margin: 0px 10px 20px 10px;
    }
  }
}

@media only screen and ( max-width:600px ) {
  section.archive-section {
    .filters-container{
      display:none;
    }
    .card-single {
      width: calc(100%);
      margin: 0 0 20px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    .mobile-filters-container{
      display:block;
      .filters-container{
        background-color: $white;
        padding:50px 20px;
        display: flex;
        flex-direction: column;
        .filter-button{
          border-radius: 0;
          border: none;
          width: 100%;
          justify-content: center;
          margin: 0;
          padding: 15px 25px;
        }
      }
      .dropdown{
        background-color:#F8FBFF;
        //visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
      .select{
        position: relative;
        &:after{
          position: absolute;
          content:"";
          background-image: url('/wp-content/themes/ogkbase-woo-child/images/down-arrow-white.svg');
          width: 12px;
          height:8px;
          right:20px;
          @include hover-transition();
        }
        &.active{
          &:after{
            transform: rotate(180deg);
            @include hover-transition();
          }
        }
      }
    }
  }
}