// Basic Hero Section
section.basic-hero-section {
  height: 30vw;
  min-height: 300px;
  h1{
    padding-right: 130px;
  }
}

// Responsive Goes Here
@media only screen and (max-width:600px) {
  section.basic-hero-section{
    h1{
      padding-right: 0;
      text-align: center;
    }
  }
}