// Benefits Section
section.benefits-section{
  .benefits{
    max-width: 1500px;
    margin: 0 auto 70px;
  }
  .h2{
    margin: 0 auto;
    max-width: 420px;
    margin-bottom: 50px;
  }
  .benefit {
    width: 16.666%;
    padding: 0 16px;
    img {
      margin: 0 auto 20px;
    }
    .h3 {
      font-weight: $medium;
    }
  }
  .btn-wrap{
    margin-top: 40px;
  }
}

// Responsive - 1460px
@media only screen and (max-width: 1460px) {
  section.benefits-section {
    .benefits {
      flex-wrap: wrap;
      justify-content: center;
    }
    .benefit {
      width: calc(33.333% - 30px);
      margin: 0 auto 40px;
      max-width: 100%;
    }
  }
}

// Responsive - 600px
@media only screen and (max-width: 600px) {
  section.benefits-section {
    .benefit {
      width: calc(50% - 30px);
      padding:0;
    }
  }
}