section.book-event-section{
  .small-title{
    margin-top:15px;
    position: relative;
    &:after{
      display: flex;
      position: absolute;
      content:"";
      height: 2px;
      background: $primary;
      width:40%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 15px;
    }
  }
  .events{
    padding: 50px 0;
  }
  .event{
    margin: 0 5px;
  }
}

@media only screen and (max-width:991px) {
  section.book-event-section{
    .events{
      flex-wrap: wrap;
      justify-content: center;
    }
    .event{
      margin: 20px;
      width: calc(50% - 40px);
      img{
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width:700px){
    section.book-event-section{
      .event{
        width: 100%;
        margin: 0 auto 50px auto;
        &:first-child{
          margin-top: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
        .small-title{
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
}

