section.breadcrumb-section{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a, span{
    display:inline-block;
    color: $primary;
  }
  svg{
    height: 15px;
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #s{
    border: 1px solid $primary;
    border-radius: 30px;
    padding: 8px 30px 8px 15px;
    color: $secondary;
    font-size: 18px;
    &::placeholder {
      color: $secondary;
    }
  }
  .search-container{
    position: relative;
    svg{
      position: absolute;
      right: 0;
      top: 12px;
      cursor: pointer;
    }
    #searchsubmit{
      display: none;
    }
  }

}
@media only screen and ( max-width:600px ) {
  section.breadcrumb-section{
    padding-bottom: 0;
  }
}
@media only screen and ( max-width:$breakpoint-phone ){
  .search-container{
    margin-top:10px;
  }
}