section.call-us-cta-section{
  .h2{
    padding-right: 130px;
    margin-bottom: 20px;
  }
  .content{
    p{
      margin-bottom: 20px;
      font-size: 15px;
      letter-spacing: -0.23px;
      line-height: 23px;
      &:last-of-type{
        margin-bottom:0;
      }
    }
  }
  .img{
    img{
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1240px){
  section.call-us-cta-section{
    .h2{
      padding-right: 50px;
    }
  }
}

@media only screen and (max-width: 991px){
  section.call-us-cta-section{
    .h2{
      padding-right:0;
    }
    .img{
      width: 40%
    }
    .text {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 785px) {
  section.call-us-cta-section{
    .container{
      flex-direction: column;
    }
    .img, .text{
      width: 100%;
    }
    .img{
      margin-bottom: 20px;
      img{
        max-height: 400px;
        margin: 0 auto;
        width: auto;
      }
    }
  }
}