section.card-slider-section{
  .btn-wrap{
    margin-top: 0px;
  }
  .expert-button {
    display: none;
  }
  h2{
    margin-bottom: 20px;
    a{
      text-decoration: underline;
      color: $primary;
      &:hover{
        color: $accent;
      }
    }
  }
  .container{
    .small-title{
      font-family:source-serif-pro, serif;
      color: $secondary;
      line-height: 29px;
      letter-spacing: -0.23px;
      font-weight: 400;
    }
  }

  .small-title{
    margin-left: auto;
    margin-right: auto;
  }
  .card-tags{
    font-family: source-serif-pro, serif;
    color: $secondary;
    line-height: 23px;
    letter-spacing: -0.23px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card-slider{
    overflow:hidden;
    margin-left: 15px;
    width: calc(100% + 130px);
    padding: 20px 0 100px 5px;
    max-height: 400px;
  }
  .owl-stage-outer{
    overflow: visible;
  }
  .owl-item{
    min-width: 260px!important;
  }
  .card-single{
    //height: 300px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul{
    list-style: none;
    margin: 0px 0;

    li {
      position: relative;
      padding-left: 30px;
      font-family: $fontBody;
      color: $pColor;
      font-size: 17px;
      line-height: 29px;
      letter-spacing: -0.27px;
      margin-bottom: 15px;

      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 18px;
        height: 12px;
        background: url(/wp-content/themes/ogkbase-woo-child/images/checkmark.svg) no-repeat center / contain;
      }
    }
  }
  .container{
    position:relative;
    .expert-image{
      position: absolute;
      right: 40px;
      bottom: 45px;
      width:80px;
      height: 80px;
    }
  }

}


@media only screen and (max-width: 991px) {
  section.card-slider-section{
    .card-slider{
      padding: 20px 0 50px 5px;
    }
    .expert-button{
        display: block;
      margin-top:20px;
    }
    .expert-image{
      display: none;
    }
    .fifty{
      justify-content: flex-start;
      h2{
        text-align: left;
      }
    }
  }
}

@media only screen and (max-width: 600px){
    .expert-button{
      width: 100%;
      .btn{
        display: block;
        width: 100%;
      }
    }
}