section.contact-form-section {
  .lets-talk {
    .card-single {
      height: 100%;
      padding: 30px;
      height: 622px;
      overflow:hidden;
      justify-content: center;
    }

    .article-single {
      width: 100%;
      height: 75%;
      margin: 40px 0;
    }

    .line-seperator {
      width: 30%;
      border-top: 3px solid #0246A8;
      height: 20px;
    }

    .article-details {
      height: 100%;
      .h2{
        margin-bottom: 20px;
      }
    }

    .benefit-text {
      line-height: 25px;
    }
  }

  .contact-form {
    .gform_heading {
      display: none;
    }

    .h2 {
      font-size: 30px;
      font-weight: $medium;
      letter-spacing: -0.45px;
      margin-bottom: 10px;
    }

    input[type=text], textarea, select, input[type=tel], input[type=email] {
      align-items: center;
      background: transparent;
      border: 1px solid $secondary;
      font-weight: $medium;
      line-height: 26px;
      letter-spacing: -0.27px;
      font-size: 17px !important;;
      color: $secondary;
      padding: 15px 0 15px 20px !important;
      font-family: sweet-sans-pro, sans-serif;
      cursor: pointer;

      &::placeholder {
        color: $secondary;
      }
    }

    .gform_wrapper {
      margin: 0;

      .gform_body {
        li.gfield {
          margin: 0;
        }

        .ginput_container_textarea {
          textarea {
            margin-top: 12px;
          }
        }
      }

      div.charleft {
        display: none;
      }

      .gform_footer {
        padding: 0;
        margin: 0;

        .button {
          padding: 15px 60px;
          text-transform: revert;
          font-family: sweet-sans-pro, sans-serif;
          font-weight: 800;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -0.27px;
          color: #fff;
          background: #F51644;
          background-color: #F51644;
          text-align: center;
          border: 1px solid transparent;
          -webkit-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          position: relative;
          margin-top: 20px;
          &:hover{
            background:#9e0726;
          }
        }
      }
    }
    #gform_confirmation_message_4, #gform_confirmation_message_7{
      color:$secondary;
    }
  }
}

section.privacy-policy-section{
  .small-title{
    margin-bottom: 10px;
  }
  .h2{
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1300px){
  section.contact-form-section{
    .lets-talk{
      width: 50%;
    }
  }
}

@media only screen and (max-width: 991px) {
  section.contact-form-section {
    .container {
      flex-direction: column;
    }

    .contact-form {
      width: 80%;
      margin: 0 auto;
    }

    .lets-talk {
      margin: 0 auto 50px auto;
      width: 80%;
      .card-single{
        height: unset;
      }
    }
  }
}
@media only screen and ( max-width: 600px ){
section.contact-form-section{
  .contact-form, .lets-talk{
    width: 100%;
  }
}


}