section.cta-book-cart-section {
  flex-wrap: wrap;
  .image {
    position: relative;
    background: $gradient-rev;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    img {
      max-width: 100%;
      height: auto;
      max-height: 500px;
      width: auto;
    }
  }
  .btn-wrap {
    margin-top: 0;

    .btn {
      padding: 15px 80px;
    }
  }

  .small-title {
    margin-bottom: 10px;
  }

  .text-wrap {
    max-width: 540px;
    margin: 0 auto;

    .h3 {
      padding-right: 90px;
    }

    p {
      font-size: 15px;
      margin-bottom: 30px;
    }
  }

  .price {
    margin-bottom: 0;
    font-weight: $bold;
    color: $secondary;
    margin-right: 40px;
  }

  ul.checked-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    margin-top: 0;
    //display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    li {
      font-size: 15px;
    }
  }

  .ingredients {
    color:$secondary;
    font-family: source-serif-pro, serif;
    font-size: 15px;
    margin-bottom: 30px;
  }
}

@media only screen and ( max-width:$breakpoint-tablet-large){

  section.cta-book-cart-section {
    .image.forty{
      width:100%;
    }
    .text.sixty{
      width: 100%;
    }
  }
  .padding{
    padding: 50px 20px;
  }
}

@media only screen and (max-width: 600px){
  section.cta-book-cart-section{
   ul.checked-list{
     columns: 1;
   }
    .book-box{
      flex-direction: column;
      .btn-wrap{
        margin-top:20px;
      }
    }
  }
}