section.faq-cat-section{
  .faq-categories{
    column-count: 2;
    a:hover{
      background: $secondary;
      color: $white;
    }
  }
  .faq-cat{
    margin: 0 0 16px;
    padding: 20px 40px;
    box-shadow: 0 2px 6px #BCC1DD8D;
    display: flex;
    justify-content: center;
    background: $white;
  }
}

section.faq-internal-section {
  .category{
    margin-right: 20px;
    width: 50%;
  }
  li{
    list-style: none;
  }
  .questions{
    display: block;
  }

  .questions-answers {
    li {
      margin: 60px 0;
      &:first-of-type{
        margin-top: 0;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    .h2{
      margin-bottom:20px;
    }
  }

  a {
    font-weight: $medium;
  }

  .question {
    margin: 15px 0;
  }

  .category {
    position: sticky;
    top: 150px;
    align-self: flex-start;
    .small-title{
      margin-bottom: 0;
    }
  }
  .questions{
    display: block;
    li{
      margin: 15px 0;
    }
  }
  .answer-anchor{
    visibility: hidden;
    position: relative;
    top: -140px;
  }
}
@media only screen and (max-width:1050px){
  section.faq-internal-section{
    .category{
      min-width: 200px;
    }
  }
}

@media only screen and (max-width: 750px) {
  section.faq-cat-section {
    .faq-categories {
      column-count: 1;
      a:first-child{
        margin-top:0;
      }

      a {
        margin: 20px auto 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  section.faq-internal-section {
    .container {
      flex-direction: column;
    }

    .questions {
      display: none;
    }
    .answer-anchor{
      top:-160px;
    }

    .category {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      top: 0;
      width: 100%;
      position: relative;
      text-align: center;
      box-shadow: 0 2px 6px #bcc1dd8d;
      background-color: #F8FBFF;
      margin: 0 auto 50px;
      border: 1px solid #DCE2F0;
      .small-title{
        padding: 20px 0;
        background: $secondary;
        color:$white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after{
          position: absolute;
          content:"";
          background-image: url('/wp-content/themes/ogkbase-woo-child/images/down-arrow-white.svg');
          width: 12px;
          height:8px;
          right:20px;
          @include hover-transition();
        }
        &.active{
            &:after{
              transform: rotate(180deg);
              @include hover-transition();
            }
        }
      }
    }

    .questions a{
      &:last-child {
        li{
          border-bottom: 0;
        }
      }
    }


    .questions li {
      padding: 20px 0;
      margin: 0;
      border-bottom: 1px solid #DCE2F0;
      transform: translateX(0);
      &:before {
        display: none;
      }

      &:first-of-type {
        transition-delay: 0.6s;
      }

      &:nth-of-type(2) {
        transition-delay: 0.8s;
      }

      &:nth-of-type(3) {
        transition-delay: 1s;
      }

      &:nth-of-type(4) {
        transition-delay: 1.2s;
      }

      &:nth-of-type(5) {
        transition-delay: 1.4s;
      }

      &:nth-of-type(6) {
        transition-delay: 1.6s;
      }

      &:nth-of-type(7) {
        transition-delay: 1.8s;
      }
    }

  }
}
