section.full-image-cta-section{
  position: relative;
  background-color: #f8fbff;


  .container-large{
    background-color: #f8fbff;
  }

    .gradient{
      position: absolute;
      background: url(/wp-content/uploads/2021/04/gradient-final@2x.jpg) no-repeat right/contain;
      height: 100%;
      width: 100%;
      z-index: 0;
    }

  .mobile-image{
    display: none;
  }

  .text-wrap{
    max-width: 500px;
    z-index: 1;
    .small-title{
      font-weight: $regular;
      span{
        text-decoration: underline;
        a{
          color: $primary;
          &:hover{
            color: $accent;
          }
        }
      }
    }
  }
  .btn-arrow{
    padding-right: 108px;
  }
}

@media only screen and (max-width: 900px) {
  section.full-image-cta-section {
    background: none;
    .mobile-image{
      display: block;
    }
    .gradient{
      display: none;
    }
    .text-wrap{
      width: 100%;
      max-width: unset;
    }
  }
}