section.gradient-hero-section{
  background: $hero-gradient;
  padding: 0 0 40px;
  h1{
    margin: 0 auto;
    font-weight: $regular;
    margin-bottom: 20px;
    max-width:600px;
  }
  .category{
    a{
      color: $white;
      font-weight: $medium;
    }
  }
  .iv-therapy{
    margin-bottom: 20px;
    svg{
      width: 17px;
      height: 22px;
      margin-right: 10px;
      path{
        fill:$white;
      }
    }
  }
  .subtitle{
    line-height: 31px;
    font-family: source-serif-pro;
    font-weight: 400;
    margin: 0 auto;
    max-width: 620px;
    letter-spacing: -0;
    margin-bottom: 20px;
  }
}