//my account
.woocommerce p{
  font-size: 16px;
  font-family: sweet-sans-pro, sans-serif;
  letter-spacing: -0.27px;
}
a.btn.dark-hover:hover{
  background: darken($accent, 20%);
  border-color: transparent;
}

section#my-account.woo-section .account-content .row{
  .shipping-info, .account-details {
    display:flex;
    border:none;
    box-shadow: 0 2px 6px #bcc1dd8d;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;
    h4{
      font-family: $fontHeader;
      color: $primary;
      font-weight: $regular;
      font-size: 26px;
      line-height: 45px;
      letter-spacing: -0.53px;
    }
    h5{
      font-family: $fontHeader;
      color: $primary;
      font-weight: $medium;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.27px;
      margin-bottom: 20px;
      text-transform: revert;
    }
    .login-info, .address {
      p{
        font-weight: normal;
        color: $secondary;
      }
    }
  }
}
section#my-account.woo-section table.shop_table tbody{
  border:none;
  box-shadow: 0 2px 6px #bcc1dd8d;
  border-radius: 0;
}

section#my-account.woo-section nav.woocommerce-MyAccount-navigation ul li {
  a{
    color: $secondary;
    text-transform: revert;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.23px;
    padding: 0;
    font-weight: normal;
    font-family: $fontHeader;
  }
  &.is-active {
    a{
      color: $accent;
    }
  }
  &:hover {
    color: $accent;
    a{
      color: $accent;
    }
  }
}
section#my-account.woo-section .ogk-welcome-message{
  h4{
    font-family: $fontHeader;
    color: $primary;
    font-weight: $regular;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: -0.68px;
  }
}
section#my-account.woo-section .order-history{
  h4{
    font-family: $fontHeader;
    color: $primary;
    font-weight: $regular;
    font-size: 26px;
    line-height: 45px;
    letter-spacing: -0.53px;
    margin-bottom: 20px;
  }
  .view{
    padding: 15px 60px;
    background: $accent;
    color: $white;
    text-transform: revert;
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
    border-radius: 0!important;
    text-align: center;
    border: 1px solid transparent;
    &:hover {
      background: darken($accent, 20%);
    }
  }
}
section#my-account.woo-section table.shop_table tbody tr td{
  color: $secondary;
  a{
    color: $primary;
    &.button{
      color:$white;
      padding: 15px 60px;
      background: $accent;
      text-transform: revert;
      font-family: sweet-sans-pro,sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.27px;
      border-radius: 0!important;
      text-align: center;
      border: 1px solid transparent;
      &:hover {
        background: darken($accent, 20%);
      }
    }
  }
}
section#my-account.woo-section table.shop_table thead tr span{
  color: $secondary;
  text-transform: revert;
}

//account details
section#my-account.login-form .ogk-login-wrap form.login .form-row.focus .woocommerce-form-login__rememberme{
  input{
    padding:10px
  }
  input:checked {
    background: url('/wp-content/themes/ogkbase-woo-child/images/checkmark.svg') no-repeat center/contain;
  }
}

section#my-account.woo-section form legend{
  color: $secondary;
}
button.woocommerce-Button.button{
  padding: 15px 60px;
  background: $accent;
  color: $white;
  text-transform: revert;
  font-family: sweet-sans-pro,sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.27px;
  border-radius: 0!important;
  text-align: center;
  border: 1px solid transparent;
  &:hover {
    background: darken($accent, 20%);
  }
}

//addresses
.focus{
  button.button{
    padding: 15px 60px;
    background: $accent;
    text-transform: revert;
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
    border-radius: 0!important;
    text-align: center;
    border: 1px solid transparent;
    &:hover {
      background: darken($accent, 20%);
    }
  }
}
section#my-account.woo-section h3{
  color:$primary;
  font-family: $fontHeader;
  font-weight: $regular;
  font-size: 26px;
  line-height: 45px;
  letter-spacing: -0.53px;
}

section#my-account.woo-section .woocommerce-Addresses .woocommerce-Address{
  border:none;
  box-shadow: 0 2px 6px #bcc1dd8d;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
  h3{
    font-family: $fontHeader;
    color: $primary;
    font-weight: $regular;
    font-size: 26px;
    line-height: 45px;
    letter-spacing: -0.53px;
    margin-bottom: 20px;
  }
  address{
    font-family: $fontBody;
    color: $secondary;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
  }
  a.edit{
    padding: 15px 60px;
    background: $accent;
    color: $white;
    text-transform: revert;
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
    border-radius: 0!important;
    text-align: center;
    border: 1px solid transparent;
    &:hover {
      background: darken($accent, 20%);
    }
  }
}
section#my-account.woo-section .woocommerce-notices-wrapper p{
  font-size: 12px !important;
}

//checkout
body.woocommerce-checkout .sidebar-progress .checkout-steps .checkout-sidebar-btn{
  color:$secondary;
  &.active{
    color:$accent;
  }
}
body.woocommerce-checkout .wc-credit-card-form .form-row label{
  color:$secondary;
}
body.woocommerce-checkout .form-row input {
  color: $secondary;
  font-family: sweet-sans-pro, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.27px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $secondary;
  font-family: sweet-sans-pro, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.27px;
}

.woocommerce-checkout {
  h4 {
    color: $secondary;
  }
}

#to-shipping-method {
  margin-left: 10px;
}

body.woocommerce-checkout ul.woocommerce-shipping-methods li {
  label {
    color: $secondary;
  }

  .radio-button {
    border: 1px solid $secondary;
  }
  input[type=radio]:checked ~ .radio-button:after{
    background: $secondary;
  }
}

body.woocommerce-checkout #review-order {
  .item-detail-line{
    border-top: none;
  }
  .line{
    border-bottom: 1px solid $secondary;
  }
}
body.woocommerce-checkout .wc_payment_methods .wc_payment_method{
  label{
    font-family: source-serif-pro, serif;
    color: $secondary;
  }
  a{
    color: $primary;
  }
}
a.woocommerce-terms-and-conditions-link{
  color: $primary;
}

body.woocommerce-checkout #checkout .btn.next:hover{
    background: darken($accent, 20%);
}

body.woocommerce-checkout #place_order{
  padding: 15px 60px;
  background: $accent;
  color: $white;
  text-transform: revert;
  font-family: sweet-sans-pro,sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.27px;
  border-radius: 0!important;
  text-align: center;
  border: 1px solid transparent;
  &:hover {
    background: darken($accent, 20%);
  }
}

body.woocommerce-checkout .woocommerce-terms-and-conditions-wrapper label.checkbox{
  align-items: center;
  input{
    border: 1px solid $secondary;
    &:checked{
      background: url('/wp-content/themes/ogkbase-woo-child/images/checkmark.svg') no-repeat;
      background-size: contain;
    }
  }
}

//cart empty
.return-to-shop{
  .wc-backward{
    padding: 15px 60px;
    background: $accent;
    color: $white;
    text-transform: revert;
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
    border-radius: 0!important;
    text-align: center;
    border: 1px solid transparent;
    &:hover {
      background: darken($accent, 20%);
    }
  }
}
p.cart-empty.woocommerce-info {
  margin-bottom: 30px;
}

//orders
section#my-account.woo-section .woocommerce-MyAccount-content mark{
  color: $secondary;
}
section#my-account.woo-section .woocommerce-order-details h2{
  font-family: $fontHeader;
  color: $primary;
  font-weight: $regular;
  font-size: 26px;
  line-height: 45px;
  letter-spacing: -0.53px;
}
section#my-account.woo-section .woocommerce-order-details table.woocommerce-table--order-details{
  tfoot, tbody{
    border:none;
    box-shadow: 0 2px 6px #bcc1dd8d;
    border-radius: 0;
    th{
      color: $secondary;
    }
    span, td{
      color: $secondary;
    }
  }
  thead tr th{
    color:$primary;
    text-transform: revert;
  }
}
section#my-account.woo-section .woocommerce-customer-details section.addresses .woocommerce-column{
  border:none;
  box-shadow: 0 2px 6px #bcc1dd8d;
  border-radius: 0;
}
section#my-account.woo-section .woocommerce-customer-details section.addresses .woocommerce-column{
  h2{
    font-family: $fontHeader;
    color: $primary;
    font-weight: $regular;
    font-size: 26px;
    line-height: 45px;
    letter-spacing: -0.53px;
  }
  address{
    color: $secondary;
    font-family: source-serif-pro, serif;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: -0.27px;
  }
}

//welcome/login
.woocommerce-form-login{
  button.woocommerce-form-login__submit{
    padding: 15px 60px;
    background: $accent;
    color: $white;
    text-transform: revert;
    font-family: sweet-sans-pro,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
    border-radius: 0!important;
    text-align: center;
    border: 1px solid transparent;
    &:hover {
      background: darken($accent, 20%);
    }
  }
}
section#my-account.login-form .ogk-login-wrap form.login .lost_password a{
  font-weight: 500;
}

//order received

body.woocommerce-order-received {
  p.woocommerce-notice{
    color: $primary;
    -webkit-text-stroke: revert;
    text-transform: revert;
    font-size: 35px;
    font-weight: 400;
  }
  h2{
    margin-bottom: 20px;
  }
  .woocommerce-columns .woocommerce-column h2, h2{
   color: $primary;
    font-family: $fontHeader;
    font-weight: $regular;
    font-size: 26px;
    line-height: 45px;
    letter-spacing: -0.53px;
  }
  table.order_details {
    thead tr th{
      color: $secondary;
      text-transform: revert;
    }
    tfoot, tbody{
      border:none;
      box-shadow: 0 2px 6px #bcc1dd8d;
      border-radius: 0;
      th{
        color: $secondary;
      }
      span, td{
        color: $secondary;
        a{
          color: $primary;
        }
      }
    }
  }
  .woocommerce-columns .woocommerce-column {
    border:none;
    box-shadow: 0 2px 6px #bcc1dd8d;
    border-radius: 0;
    address{
      font-family: $fontBody;
      color: $secondary;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.27px;
    }
  }
  .woocommerce-order-overview{
    li, li:last-of-type{
      background: $secondary;
      color: $white;
      text-transform: revert;
      font-family: sweet-sans-pro,sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.27px;
      border-radius: 0!important;
      text-align: center;
    }
  }
}