//schedule home visit section
section.schedule-home-visit-section{

  .title{
    margin-bottom: 20px;
  }
  .med-title{
    max-width: 600px;
    margin: 0 auto 60px auto;
  }

  .small-title{
    margin-left: auto;
    margin-right: auto;
  }


  .number-wrap{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: $offWhite;
    margin-top: -50px;
    left: 50%;
    transform: translateX(-50%);
    .number{
      position: absolute;
      left:50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .steps {
    max-width: 1230px;
    margin: 0 auto;
  }
  .step {
    width: calc(33.333% - 30px);
    .h3{
      font-weight: $medium;
      font-size:20px;
      line-height: 28px;
      letter-spacing: -0.3px;
    }
  }

  .image {
    img {
      width: 100%;
    }
  }

  .btn-wrap{
    justify-content: center;
  }
  .gradient-bar{
    display:none;
  }
}

// Responsive - 991px
@media only screen and (max-width: 991px) {
  section.schedule-home-visit-section {
    .step {
      width: calc(33.333% - 10px);
    }
  }
}

// Responsive - 640px
@media only screen and (max-width: 640px) {
  section.schedule-home-visit-section {
    .steps {
      flex-wrap: wrap;
      max-width: 430px;
    }
    .step {
      width: 100%;
      margin-bottom: 50px;
      padding-bottom: 40px;
      border-bottom: 1px solid $lightGray;
      .h3 {
        margin-bottom: 0;
      }
      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .image{
      position: relative;
      .gradient-bar{
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: $line-gradient;

      }
    }
    .med-title{
      font-size:18px;
    }
    .number-wrap {
      width: 70px;
      height: 70px;
      margin-top: -40px;
      .h2 {
        font-size: 23px;
        line-height: normal;
      }
    }
  }
}

