section.small-image-text-section{
  .container{
    flex-wrap: wrap;
    &.row-reverse{
      flex-direction: row-reverse;
    }
  }
  p{
    margin-bottom: 20px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .content-inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-count: 2;
    max-height: 280px;
    max-width: 390px;
    p{
      padding: 10px 0;
      margin-bottom: 0;
    }
  }
  .text{
    .h2{
      padding-right: 160px;
      font-weight: $medium;
      margin-bottom: 20px;
    }
  }
  ul{
    list-style: none;
    margin: 20px 0;
    li{
      position: relative;
      padding-left: 30px;
      font-family: source-serif-pro,serif;
      color: #0C2664;
      font-size: 17px;
      line-height: 29px;
      letter-spacing: -0.26px;
      margin-bottom: 15px;
      &:before{
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 18px;
        height: 12px;
        background: url(/wp-content/themes/ogkbase-woo-child/images/checkmark.svg) no-repeat center/contain;
      }
    }
  }

}
@media only screen and ( max-width:$breakpoint-desktop-med) {
  section.small-image-text-section{
    .text .h2{
      padding-right: 50px;
    }
  }
}

@media only screen and ( max-width:$breakpoint-tablet-large) {

  section.small-image-text-section {
    .thirty-five{
      display: flex;
      align-items: center;
      width:100%;
      max-height: 420px;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 20px;
    }
  }
}
@media only screen and (max-width: 785px) {
    section.small-image-text-section{
      .text .h2{
        padding-right: 0;
      }
    }
}