section.text-image-section{
  .mobile-image{
    display: none;
  }
  .h2{
    margin-bottom: 50px;
  }
  .content li{
    padding: 10px 0;
    text-decoration: underline;
    list-style: none;
    font-weight: $medium;
    &.new{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:after{
        position: absolute;
        content: "";
        background: url(/wp-content/uploads/2021/03/new.svg);
        width: 70px;
        height: 32px;
        margin-left: 90px;
      }
    }
    a{
      color: $primary;
      font-weight: 700;
      &:hover{
        color: $accent;
      }
    }
  }
}

@media only screen and (max-width: 900px){
  section.text-image-section{
    .container{
      flex-direction: column;
    }
    .img{
      display: none;
    }
    .mobile-image{
      display: flex;
      align-items: center;
      img{
        width: 100%;
        margin: 0 auto;
        align-items: center;
      }
    }
    .text{
      width: 100%;
    }

    .content{
      ul{
        display: flex;
        flex-direction: column;
        column-count: 2;
        flex-wrap: wrap;
        height: 140px;
        li{
          &.new{
            &:after{
              margin-left: 70px;
            }
          }
        }
      }
    }

  }
}

@media only screen and (max-width: 640px) {
  section.text-image-section {

  }
}

// Responsive - 640px
@media only screen and (max-width: 600px) {

}