section.two-col-search{
  color: $secondary;

  .fifty{
    align-content: center;
    justify-content: center;
  }

  h2{
    color: $primary;
    margin-bottom: 10px;
    text-align: left;
  }

  #s{
    border: 1px solid $primary;
    border-radius: 30px;
    padding: 8px 30px 8px 15px;
    color: $secondary;
    font-size: 18px;
    font-family: sweet-sans-pro, sans-serif;
    letter-spacing: -0.23px;
    font-weight: 700;
    &::placeholder {
      color: $secondary;
    }
  }
  .search-container{
    position: relative;
    display: flex;
    align-items: center;
    svg{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    #searchsubmit{
      display: none;
    }
  }

}

@media screen and ( max-width: 990px){
  section.two-col-search {

    .container{
      flex-direction: column;
      .fifty:first-child{
        margin-bottom: 50px;
      }
    }
    .search-container{
      width: 100%;
      input{
        width: 100%;
      }
    }

  }
}