// Product Archive Page Styles

body.archive {

  header.woocommerce-products-header {
    display: none;
    @extend .container;
  }

  .sorting-wrap {
    //display: flex;
    //justify-content: space-between;
    display: none;
  }

  .products {
    background: $offWhite;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      position: relative;
      @include hover-transition();
      img {
        margin: 0 auto 30px;
      }
      h4 {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
      }
      .onsale {
        background: #6B9D88;
        color: $white;
        font-weight: $medium;
        display: flex;
        border-radius: 100%;
        padding: 20px;
        width: 50px;
        height: 50px;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 160px;
        left: 50%;
        transform: translateX(-50%);
      }
      .btn-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        @include hover-transition();
        .btn {
          &:hover {
            background: #302f31;
            border-color: $woocommerceSkinColor;
          }
        }
      }
      .price {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        del {
          opacity: 0.7;
          margin-right: 5px;
        }
        ins {
          text-decoration: none;
        }
        span {
          font-weight: $medium;
        }
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &:hover {
        background: #E9E5E2;
        .btn-wrap {
          opacity: 1;
        }
        .woocommerce-LoopProduct-link {
          opacity: 0.7;
        }
      }
    }
  }



}

/**************** MEDIA QUERIES *******************/

@media only screen and (max-width: 1100px) {

  body.archive {
    .products {
      grid-template-columns: 1fr 1fr;
      .product {
        .btn-wrap {
          position: relative;
          top: auto;
          left: auto;
          transform: translate(0);
          opacity: 1;
        }
        .onsale {
          bottom: 40%;
          transform: translate(-50%, -40%);
        }
      }
    }
  }

}

@media only screen and (max-width: 700px) {

  body.archive {
    .products {
      grid-template-columns: 1fr;
    }
  }

}