// Cart Page Styles

button[name='update_cart'] {
  display: none;
}

.header-cart-count {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  .cart-details {
    opacity: 0;
    position: absolute;
    top: 40px;
    right: 0;
    width: 270px;
    background: $white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px $lightGray;
    @include hover-transition();
  }

  .icon {
    position: relative;

    svg {
      width: 30px;
      height: 30px;
    }

    .cart-count-number {
      position: absolute;
      //top: -2px;
      //right: -7px;
      //background: $woocommerceSkinColor;
      background: url(/wp-content/uploads/2021/03/shopping-cart-logo.svg);
      color: $cartTextColor;
      padding: 3px;
      font-size: 13px;
      font-weight: $bold;
      //border-radius: 100%;

      width: 22px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: contain;
      span {
        margin-top: 3px;
        pointer-events: none;
        color: $cartCounterColor;
      }
    }
  }

  &:hover {
    .cart-details {
      //opacity: 1;
    }
  }
}

.mini-cart {
  display: flex;
  align-items: center;
  height: 600px;
  background: $cartBGColor;
  transition: top .5s cubic-bezier(.215, .61, .355, 1);
  position: fixed;
  top: -600px;
  left: 0;
  width: 100%;
  //z-index: 999;

  .container-large {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &.cart-open {
    top: 0;
    z-index: 999;
  }

  .woocommerce-message {
    color: $white;

    a {
      color: $cartTextColor;
      text-decoration: underline;
    }
  }

  // Main Cart Table
  table.shop_table {
    width: 100%;
    color: $cartTextColor;

    thead, tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    tr.cart_item {
      padding: 10px 0;
      border-bottom: 1px solid $cartContentColor;

      td, a {
        color: $cartTextColor;
      }
    }

    td, th {
      vertical-align: middle;
    }

    th.product-subtotal {
      opacity: 0;
    }

    td.product-name,
    td.product-price,
    td.product-quantity {
      text-align: center;
    }

    td.product-subtotal {
      text-align: right;
    }

    .product-remove {
      width: 3%;
      color: $cartTextColor;
      font-size: 30px;
    }

    td.product-thumbnail {
      img {
        width: 70px;
      }
    }

    td.product-quantity {
      label {
        display: none;
      }
    }

    .quantity {
      input {
        background: transparent;
        border: 1px solid $cartContentColor;
        padding: 15px 20px;
        color: $cartTextColor;
        border-radius: 8px;
        text-align: center;
        font-family: $fontMain;
        font-weight: $medium;
        font-size: 14px;
        max-width: 80px;
      }
    }

    // Coupon Code
    td.actions {
      display: flex;
      justify-content: flex-end;

      .coupon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid $cartContentColor;
        width: 33.333%;

        .coupon-input-wrap {
          display: flex;

          input {
            border: 1px solid $cartContentColor;
            padding: 10px 16px;
            border-radius: 8px;
            margin-right: 10px;
            font-family: $fontMain;
            font-size: 13px;
            background: transparent;
            color: $cartTextColor;

            &::placeholder {
              color: $cartTextColor;
            }
          }

          button {
            background: $cartTextColor;
            color: $woocommerceSkinColor;
            border: 1px solid $cartTextColor;
            padding: 18px;

            &:hover {
              color: $cartTextColor;
              background: $woocommerceSkinColor;
            }
          }
        }
      }
    }
  }

  // Cart Totals Table
  .cart-collaterals {
    display: flex;
    justify-content: flex-end;

    .cart_totals {
      width: 33.333%;
    }

    // Hide Shipping totals from mini cart
    .woocommerce-shipping-totals {
      display: none;
    }

    tr.shipping, tr.tax-total {
      display: none;
    }

    h2 {
      display: none;
    }

    table {
      tr.cart-subtotal, tr.tax-total, tr.cart-discount {
        color: $cartTextColor;
        padding: 10px 0;
        min-height: 70px;

        th {
          text-align: left;
        }

        td {
          text-align: right;
          .woocommerce-Price-amount, .woocommerce-Price-currencySymbol {
            font-size: 26px;
            font-weight: 600;
          }
        }
      }

      tr.cart-subtotal {
        //border-bottom: 1px solid;
      }

      tr.order-total {
        display: none;
      }

      tr.cart-discount{
        border-top: 1px solid var(--cart-content-color);
        a{
          color: var(--cart-content-color);
          margin-right: 10px;
        }
      }
    }
  }

  .mini-cart-terms {
    color: $cartTextColor;
    margin-top: 10px;
  }

  .wc-proceed-to-checkout {
    display: flex;

    .button {
      width: 100%;
      color: $cartBGColor;
      background: $cartTextColor;
      border: 1px solid $cartTextColor;

      &:hover {
        color: $cartTextColor;
        background: $cartBGColor;
      }
    }
  }
}

// Close the cart window
.close-cart {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 50px;
  top: 101px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 99;

  span {
    width: 100%;
    height: 2px;
    background: $cartTextColor;
    position: absolute;
    top: 8px;
    left: 0;
    display: flex;

    &:first-of-type {
      transform: rotate(45deg);
    }

    &:last-of-type {
      transform: rotate(-45deg);
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

// When the cart is empty
.empty-cart-notice, .item-added, .update-cart-notice {
  //background: $cartBGColor;
  width: 100%;
  height: 100px;
  position: fixed;
  top: -100px;
  left: 0;
  opacity: 0;
  z-index: 99999999999999;
  @include hover-transition();

  .container-large {
    padding: 0;
  }

  p {
    text-align: right;
  }

  &.visible {
    top: 0;
    opacity: 1;
    padding: 60px 30px;
  }
}

.empty-cart-notice, .item-added {
  background: $cartBGColor;

  p {
    color: $cartTextColor;
  }
}

.update-cart-notice, .item-added.cart-open {
  background: $cartTextColor;

  p {
    color: $cartBGColor;
  }
}

.cart_discount a{
  margin-right: 10px;
}

header.checkout-header .cart-count {
  pointer-events: none;
}

@media only screen and (max-width: 767px) {

  .empty-cart-notice,
  .item-added,
  .update-cart-notice {
    height: auto;
    &.visible {
      padding: 20px;
    }
  }

}