// Checkout page styles

body.woocommerce-checkout {
  background-color: $checkoutBGColor;
  #ship-to-different-address {
    display: none;
  }

  #checkout {
    transition: height 1s ease-in-out;
    .container-large {
      display: flex;
      align-items: center;
      transition: height 1s ease-in-out;
    }
    .container {
      transition: height 1s ease-in-out;
    }
    .woocommerce {
      display: flex;
      justify-content: space-between;
      .woocommerce-notices-wrapper {
        display: none;
      }
    }
    .page {
      transform: translateY(50px);
      width: 100%;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: opacity 0.3s ease-in-out, height 1s ease-in-out, visibility 1.3s ease-in-out, transform 0.8s ease-in-out;
      &.active {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        height: auto;
      }
      &.customer-details {

      }
      h4 {
        margin-bottom: 40px;
      }
    }
    form.checkout {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include hover-transition();
      width: 70%;
      margin-left: 30px;
    }
  }

  ul.woocommerce-error {
    list-style: none;
    background: #b31010;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 20px;
    li {
      color: $white;
      font-weight: $medium;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 5px;
      font-size: 13px;
    }
  }

  .woocommerce {
    width: 100%;
    min-height: 560px;
    position: relative;
    transition: height 1s ease-in-out;
  }

  .sidebar-progress {
    max-width: 200px;
    width: 30%;
    .logo {
      max-width: 150px;
      margin-bottom: 30px;
    }
    .checkout-steps {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .checkout-sidebar-btn {
        text-transform: uppercase;
        color: $inactiveColor;
        font-size: 12px;
        font-weight: $medium;
        letter-spacing: 0.164em;
        padding: 10px 0;
        @include hover-transition();
        &.active {
          color: $woocommerceSkinColor;
        }
      }
    }
  }

  .form-row {
    position: relative;
    margin-bottom: 30px;
    .woocommerce-input-wrapper {
      &.focus {
        input {
          border-bottom: 1px solid $woocommerceSkinColor;
        }
      }
    }
    label {
      position: absolute;
      top: -12px;
      left: 0;
      font-size: 12px;
      width: 100%;
      @include hover-transition();
      //&.focus {
      //  top: -12px;
      //  left: 0;
      //  font-size: 12px;
      //}
      abbr {
        text-decoration: none;
        color: red;
      }
    }
    span.optional {
      display: none;
    }
    input:not([type=checkbox]) {
      width: 100%;
      border: none;
      border-bottom: 1px solid $checkoutShippingInactive;
      padding: 10px 5px;
      font-size: 22px;
      line-height: 30px;
      font-weight: $medium;
      color: $woocommerceSkinColor;
      background-color: transparent;
      @include hover-transition();
      border-radius: 0 !important;
      &:focus {
        border-bottom: 1px solid $woocommerceSkinColor;
      }
      &::placeholder {
        opacity: 0;
      }
      &.error {
        border-bottom-color: #b31010;
      }
    }
    p.error {
      color: #b31010;
      font-size: 14px;
    }
    &.checkout-first-name {
      float: left;
      width: 48%;
      margin-right: 2%;
    }
    &.checkout-last-name {
      float: left;
      width: 48%;
      margin-left: 2%;
    }
  }

  .wc-credit-card-form {
    max-width: 640px;
    .form-row {
      label {
        position: relative;
        top: 10px;
        left: 0;
        font-size: 10px;
      }

      .wc-stripe-elements-field {
        border: none;
        border-bottom: 1px solid $woocommerceSkinColor;
        padding: 10px 5px;
        font-size: 22px;
        line-height: 30px;
        font-weight: $medium;
        color: $woocommerceSkinColor;
        background-color: transparent;
        @include hover-transition();
      }
    }
  }

  ul.woocommerce-shipping-methods {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    li {
      width: calc(50% - 20px);
      margin: 0 10px 20px;
      height: 200px;
      background: $checkoutShippingInactive;
      display: flex;
      position: relative;
      input {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        margin: 0;
        cursor: pointer;
        border: none;
        border-radius: 0;
        @include hover-transition();
      }
      label {
        position: absolute;
        top: 20px;
        left: 20px;
        font-weight: $bold;
      }
      input[type=radio]:checked, input[type=radio]:hover {
        background: $white;
      }
      input[type=radio]:checked ~ .radio-button {
        &:after {
          background: $woocommerceSkinColor;
        }
      }
      p.method-description {
        position: absolute;
        top: 70px;
        left: 20px;
        font-size: 15px;
        line-height: 23px;
        pointer-events: none;
      }
      .radio-button {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 16px;
        height: 16px;
        background: transparent;
        border: 1px solid $woocommerceSkinColor;
        border-radius: 100%;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background: transparent;
          border-radius: 100%;
          @include hover-transition();
        }
      }
      &.ship-btn {
        height: 70px;
      }
    }
  }

  .customer-details {
    .btn-wrap {
      float: left;
      margin-top: 50px;
    }
  }

  #shipping_company_field,
  #shipping_first_name_field,
  #shipping_last_name_field {
    display: none;
  }

  .wc_payment_methods {
    list-style: none;
    .wc_payment_method {
      margin-bottom: 20px;
      input[type=radio] {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        background: transparent;
        border: 1px solid $woocommerceSkinColor;
        border-radius: 100%;
        margin: 0 5px 0 0;
        transform: translateY(2px);
        &:checked {
          background: $woocommerceSkinColor;
        }
      }
      .form-row-last {
        margin-bottom: 0;
      }
      .woocommerce-SavedPaymentMethods-saveNew {
        display: flex;
        align-items: center;
        input {
          width: 15px !important;
          height: 15px;
          padding: 0;
          -webkit-appearance: none;
          margin-right: 10px;
          border: 1px solid $woocommerceSkinColor;
          background: $white;
          &:checked {
            background: $woocommerceSkinColor;
          }
        }
        label {
          position: relative;
          top: auto;
          left: auto;
        }
      }
    }
  }

  .woocommerce-terms-and-conditions-wrapper {
    //height: 100px;
    label.checkbox {
      display: flex;
      position: relative;
      top: auto;
      left: auto;
      input {
        width: 15px !important;
        height: 15px;
        padding: 0;
        -webkit-appearance: none;
        border: 1px solid $woocommerceSkinColor;
        background: $white;
        &:checked {
          background: $woocommerceSkinColor;
        }
      }
    }
  }

  label[for=payment_method_stripe], label[for=payment_method_paypal] {
    img, a {
      display: none;
    }
  }

  label[for=payment_method_square_credit_card] {
    display: flex;
    margin-bottom: 10px;
    img {
      margin-right: 5px;
    }
  }
  .payment_method_square_credit_card {
    p {
      margin-bottom: 30px;
      font-weight: $bold;
    }
  }


  .wc-square-credit-card-hosted-field-parent {
    margin-bottom: 20px;
    label {
      position: relative;
      margin-bottom: 10px;
      top: 0;
      left: 0;
    }
  }

  .wc-square-credit-card-payment-field {
    background: $white;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }

  #review-order {
    .order-review-wrap {
      margin-bottom: 50px;
    }
    .product-image {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      img {
        max-width: 230px;
        width: 100%;
      }
    }

    .line {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid #8D8C8C;
    }

    .item-detail-line {
      border-top: 3px solid $woocommerceSkinColor;
    }
    .tax-line {
      border-bottom: 3px solid $woocommerceSkinColor;
    }


  }


  /**************** MEDIA QUERIES ******************/

  @media only screen and (max-width: 747px) {

    ul.woocommerce-shipping-methods {
      li {
        width: 100%;
        margin: 0 0 20px 0;
        height: 140px;
      }
    }

  }

  @media only screen and (max-width: 600px) {

    #checkout {
      .woocommerce {
        flex-direction: column;
        justify-content: flex-start;
        form.checkout {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    .sidebar-progress {
      width: 100%;
      max-width: 100%;
      .logo {
        margin: 0 auto 30px;
        max-width: 100px;
      }
      .checkout-steps {
        display: none;
      }
    }

  }




}


body.woocommerce-order-received {

  .woocommerce-order {
    width: 100%;
  }

  p.woocommerce-notice {
    @extend h1;
    max-width: 1050px;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    margin-bottom: 30px;
  }

  h2 {
    @extend h4;
    text-transform: capitalize;
  }

  table.order_details {
    border: none;
    border-collapse: collapse;
    margin: 0;
    border-radius: 0;
    width: 100%;
    thead {
      tr {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0 30px;
        th {
          @extend h5;
          margin-bottom: 0;
        }
      }
    }
    tbody {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      background: $white;
      padding: 30px;
      border: 2px solid #e4e4e4;
      border-radius: 8px;
      tr {
        display: flex;
        justify-content: space-between;
        td {
          a {
            text-decoration: underline;
            margin-right: 10px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
    tfoot {
      display: flex;
      flex-direction: column;
      background: $white;
      padding: 30px;
      border: 2px solid #e4e4e4;
      border-radius: 8px;
      tr {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e4e4e4;
      }
    }
  }

  .woocommerce-columns {
    display: flex;
    margin-top: 30px;
    .woocommerce-column {
      background: $white;
      padding: 30px;
      border: 2px solid #e4e4e4;
      border-radius: 8px;
      position: relative;
      width: 50%;
      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      address {
        @extend p;
      }
      h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 22px;
        line-height: 30px;
        font-weight: unset;
      }
      a.edit {
        @extend .btn;
        @extend .dark-hover;
        position: absolute;
        bottom: 30px;
        left: 30px;
      }
      &.col-1 {
        margin-right: 10px;
      }
      &.col-2 {
        margin-left: 10px;
      }
    }
  }

  .woocommerce-order-overview {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li {
      background: $offBlack;
      color: $white;
      padding: 20px;
      border-right: 1px solid $white;
      &:first-of-type {
        border-radius: 8px 0 0 8px;
      }
      &:nth-of-type(4) {
        border-radius: 0 8px 8px 0;
      }
      &:last-of-type {
        background: $lightGray;
        color: $offBlack;
        border-radius: 8px;
        margin: 10px 0;
      }
    }
  }

  section.woocommerce-order-details {
    margin-top: 30px;
  }

  @media only screen and (max-width: 1130px) {

    .woocommerce-order-overview {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1px;
      li {
        &:nth-of-type(2) {
          border-radius: 0 8px 8px 0;
        }
        &:nth-of-type(3) {
          border-radius: 8px 0 0 8px;
        }
      }
    }

  }

  @media only screen and (max-width: 600px) {

    .woocommerce-columns {
      flex-direction: column;
      .woocommerce-column {
        width: 100%;
        &.col-1 {
          margin-right: 0;
          margin-bottom: 10px;
        }
        &.col-2 {
          margin-left: 0;
        }
      }
    }

  }

  @media only screen and (max-width: 520px) {

    p.woocommerce-notice {
      font-size: 37px !important;
      line-height: 47px !important;
    }

    .woocommerce-order-overview {
      grid-template-columns: 1fr;
      li {
        border-radius: 8px !important;
      }
    }

  }

}

.woocommerce-form__label-for-checkbox{
  position: static!important;
}

#mailchimp_woocommerce_newsletter{
  margin-top:20px;
}