// Woo Dashboard Styles


// Dashboard Variables
$dashboardColor: $offBlack;
$dashboardBG: $offWhite;

.lightGray {
  color: #848484;
}

// Body Background
body.woocommerce-account {
  background: $dashboardBG;
}

section#my-account.woo-section {

  // Change h3's to h4 style
  h3 {
    @extend h4;
    margin-bottom: 30px;
    text-transform: none;
  }


  // Welcome Message
  .ogk-welcome-message {
    margin-bottom: 20px;
  }

  // Dashboard Nav
  nav.woocommerce-MyAccount-navigation {
    margin-bottom: 50px;

    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 20px;
        position: relative;

        &.woocommerce-MyAccount-navigation-link--downloads,
        &.woocommerce-MyAccount-navigation-link--payment-methods {
          display: none;
        }

        &:hover, &.is-active {
          a {
            color: $dashboardColor;
          }
        }

        a {
          @extend h5;
          color: rgba(31,31,31,0.3);
        }
      }
    }
  }

  // Account Dashboard
  .account-content {
    .row {
      display: flex;
      justify-content: space-between;

      .account-details, .shipping-info {
        border-radius: 8px;
        border: 2px solid #e4e4e4;
        padding: 30px;
        width: 50%;
        background: $white;
      }

      .account-details {
        margin-right: 20px;

        p span {
          font-weight: $medium;
        }
      }

      .shipping-info {
        margin-left: 20px;
      }

      &:last-of-type {
        margin-top: 40px;
      }
    }
  }

  // Past Orders Table
  .order-history {
    width: 100%;
  }

  table.shop_table {
    border: none;
    border-collapse: collapse;
    margin: 0;
    border-radius: 0;
    width: 100%;

    thead {
      tr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 20px 30px;

        span {
          @extend h5;
          margin-bottom: 0;
        }

        th {
          display: flex;
          align-items: center;
          &.woocommerce-orders-table__header-order-actions {
            span {
              display: none;
            }
          }
        }
      }
    }

    tbody {
      display: flex;
      border: 2px solid #e4e4e4;
      border-radius: 8px;
      border-collapse: collapse;
      flex-flow: row wrap;
      background: $white;

      tr {
        padding: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid #e4e4e4;

        td {
          display: flex;
          align-items: center;

          &.order-actions, &.woocommerce-orders-table__cell-order-actions {
            justify-content: flex-end;
          }

          &.order-total {
            span.woocommerce-Price-amount {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  // Order Details
  .woocommerce-MyAccount-content {
    // remove yellow highlight on order status message
    mark {
      background: none;
      font-weight: $bold;
    }
  }
  .woocommerce-order-details,
  .woocommerce-customer-details {
    h2 {
      @extend h4;
      text-transform: capitalize;
    }
  }

  .woocommerce-order-details {
    margin: 50px 0 20px;
    table.woocommerce-table--order-details {
      max-width: 1020px;
      thead {
        tr {
          display: flex;
          justify-content: space-between;
          th {
            @extend h5;
            margin-bottom: 0;
          }
        }
      }
      tbody {
        margin-bottom: 10px;
        tr {
          display: flex;
          justify-content: space-between;
          td {
            a {
              text-decoration: underline;
              margin-right: 10px;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
      tfoot {
        display: flex;
        flex-direction: column;
        background: $white;
        padding: 30px;
        border: 2px solid #e4e4e4;
        border-radius: 8px;
        tr {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #e4e4e4;
        }
      }
    }
  }
  .woocommerce-customer-details {
    section.addresses {
      display: flex;
      max-width: 1020px;
      .woocommerce-column {
        width: 50%;
        padding: 30px;
        border: 2px solid #e4e4e4;
        border-radius: 8px;
        background: $white;
        h2 {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        address {
          @extend p;
        }
        &.col-1 {
          margin-right: 10px;
        }
        &.col-2 {
          margin-left: 10px;
        }
      }
    }
  }

  // Addresses
  .woocommerce-Addresses {
    display: flex;
    margin-top: 30px;
    .woocommerce-Address {
      background: $white;
      padding: 30px;
      border: 2px solid #e4e4e4;
      border-radius: 8px;
      width: 50%;
      position: relative;
      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      address {
        margin-bottom: 100px;
        @extend p;
      }
      h3 {
        font-size: 22px;
        line-height: 30px;
        font-weight: unset;
      }
      a.edit {
        @extend .btn;
        @extend .dark-hover;
        position: absolute;
        bottom: 30px;
        left: 30px;
      }
      &.col-1 {
        margin-right: 10px;
      }
      &.col-2 {
        margin-left: 10px;
      }
    }
  }

  // Edit Account
  h4.ogk-edit-billing-title {
    margin-bottom: 30px;
  }
  .woocommerce-address-fields__field-wrapper {
    margin-bottom: 70px;
  }
  form {
    max-width: 1000px;
    .form-row {
      position: relative;
      margin-bottom: 30px;
      .woocommerce-input-wrapper {
        &.focus {
          input {
            border-bottom: 1px solid $woocommerceSkinColor;
          }
        }
      }
      label {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        @include hover-transition();
        &.focus {
          top: -9px;
          left: 0;
          font-size: 10px;
        }
        abbr {
          text-decoration: none;
          color: red;
        }
      }
      label[for="shipping_state"] {
        display: none;
      }
      span.optional {
        display: none;
      }
      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $checkoutShippingInactive;
        padding: 10px 5px;
        font-size: 22px;
        line-height: 30px;
        font-weight: $medium;
        color: $woocommerceSkinColor;
        background-color: transparent;
        @include hover-transition();
        &:focus {
          border-bottom: 1px solid $woocommerceSkinColor;
        }
        &::placeholder {
          opacity: 0;
        }
      }
      em {
        font-size: 12px;
      }
    }
    fieldset {
      margin: 50px 0;
    }
    legend {
      @extend h4;
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

}