// Mini Cart Media Queries

/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Large - 1600px ***************** */
/* *********************************************************************** */
@media only screen and (max-width: 1600px) {

  // Coupon & Totals
  .mini-cart {
    table.shop_table {
      td.actions {
        .coupon {
          width: 50%;
        }
      }
    }
    .cart-collaterals .cart_totals {
      width: 50%;
    }
  }

}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Laptop Small - 1100px ****************** */
/* *********************************************************************** */

@media only screen and (max-width: 1100px) {

  // Coupon
  .mini-cart {
    table.shop_table {
      td.actions {
        .coupon {
          width: 65%;
        }
      }
    }
    .cart-collaterals .cart_totals {
      width: 65%;
    }
  }

}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Tablet Medium - 991px ****************** */
/* *********************************************************************** */

@media only screen and (max-width: 1100px) {

  // Mini Cart Container
  .mini-cart {
    .container-large {
      padding-bottom: 60px;
    }
  }

}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Tablet Medium - 830px ****************** */
/* *********************************************************************** */
@media only screen and (max-width: 830px) {

  // Coupon
  .mini-cart {
    table.shop_table {
      td.actions {
        .coupon {
          width: 100%;
        }
      }
    }
    .cart-collaterals .cart_totals {
      width: 100%;
    }
  }

}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Tablet Medium - 625px ****************** */
/* *********************************************************************** */
@media only screen and (max-width: 625px) {

  // Coupon
  .mini-cart {
    table.shop_table {
      td.actions {
        .coupon {
          flex-direction: column;
          align-items: flex-start;
          label {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Mobile - 600px ************************* */
/* *********************************************************************** */
@media only screen and (max-width: 600px) {

  header.container-large {
    &.cart-open {
      margin-top: 0;
    }
  }

  .mini-cart {
    height: 0;
    z-index: 99;
    transition: all 1s ease-in-out;
    top: -100%;
    overflow: scroll;
    &.sticky-header {
      margin-top: 60px;
      height: calc(var(--vh, 1vh) * 100 - 60px);
    }
    &.cart-open {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      .wc-proceed-to-checkout {
        opacity: 1;
        transition-delay: 0.8s;
      }
      .cart-wrap {
        opacity: 1;
      }
    }
    .container-large {
      padding-top: 30px;
      padding-bottom: 30px;
      height: 100%;
    }
    .close-cart {
      top: 30px;
      right: 30px;
    }
    .cart-wrap {
      margin-top: 20px;
      transition: opacity 0.1s ease-in;
    }
    table.shop_table {
      .product-remove {
        width: 9%;
      }
      thead {
        display: none;
      }
      tr.cart_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        td.product-subtotal {
          display: none;
          width: 0;
        }
      }
    }
    .wc-proceed-to-checkout {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      opacity: 0;
      transition: opacity 0.4s ease-in;
      transition-delay: 0s;
    }
  }

  // Coupon
  .mini-cart {
    table.shop_table {
      td.actions {
        .coupon {
          .coupon-input-wrap {
            width: 100%;
            input {
              width: 100%;
            }
            button {
              min-width: 170px;
            }
          }
        }
      }
    }
  }

}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Mobile - 470px ************************* */
/* *********************************************************************** */
@media only screen and (max-width: 470px) {

  .mini-cart {
    table.shop_table {
      tr.cart_item {
        flex-flow: row wrap;
        justify-content: flex-start;
        td {
          &.product-thumbnail {
            width: 28%;
            margin-right: 0;
          }
          &.product-name {
            width: 70%;
            text-align: left;
          }
          &.product-price {
            margin: 10px 20px 0 0;
          }
          &.product-quantity {
            margin-top: 10px;
          }
        }
      }
    }
  }

}