// My Account Styles


section#my-account {
  &.login-form {
    background: url(/wp-content/uploads/2021/04/web-readyshutterstock_1817989463.jpg) no-repeat center / cover;
    height: calc(100vh - 60px);
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .woocommerce {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
    .ogk-login-wrap {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      background: $white;
      padding: 50px;
      h1 {
        text-transform: none;
        font-size: 34px;
        line-height: 48px;
        font-weight: $medium;
        letter-spacing: 0.02em;
        margin: 30px 0 50px;
      }
      form.login, form.woocommerce-ResetPassword {
        .woocommerce-form-row {
          position: relative;
          margin-bottom: 30px;
          .woocommerce-input-wrapper {
            &.focus {
              input {
                border-bottom: 1px solid $woocommerceSkinColor;
              }
            }
          }
          label {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100%;
            color: $lightGray;
            @include hover-transition();
            &.focus {
              top: -9px;
              left: 0;
              font-size: 10px;
              color: $woocommerceSkinColor;
            }
            abbr {
              text-decoration: none;
              color: red;
            }
          }
          input {
            width: 100%;
            border: none;
            border-bottom: 1px solid $checkoutShippingInactive;
            padding: 10px 5px;
            font-size: 22px;
            line-height: 30px;
            font-weight: $medium;
            color: $woocommerceSkinColor;
            background-color: transparent;
            @include hover-transition();
            &:focus {
              border-bottom: 1px solid $woocommerceSkinColor;
            }
          }
        }
        .lost_password {
          display: flex;
          justify-content: flex-end;
          margin-top: -25px;
          a {
            text-decoration: underline;
            color: $woocommerceSkinColor;
            font-weight: $medium;
            font-size: 16px;
            line-height: 30px;
          }
        }
        .form-row {
          &.focus {
            display: flex;
            flex-direction: column;
            .woocommerce-form-login__rememberme {
              margin-bottom: 20px;
              display: flex;
              align-items: center;
              input {
                -webkit-appearance: none;
                background: transparent;
                border: 1px solid $woocommerceSkinColor;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                @include hover-transition();
                &:checked {
                  background: $woocommerceSkinColor;
                }
              }
            }
          }
        }
      }
      form.woocommerce-ResetPassword {
        .form-row-first {
          margin: 30px 0 60px;
        }
        button {
          max-width: 270px;
        }
      }
    }
  }
}