// Single Product Page Styles

body.single-product {
  .product {
    position: relative;
    .onsale {
      width: 100%;
      background: #6B9D88;
      color: white;
      display: flex;
      padding: 20px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      top: 0;
      left: 0;
      justify-content: center;
    }
    .woocommerce-product-gallery, .summary {
      width: 48%;
    }
    .ogk-quantity {
      display: flex;
      align-items: center;
      margin: 20px 0;
      .minus, .plus {
        -webkit-appearance: none;
        background: none;
        border: 1px solid $black;
      }
      .minus {
        margin-right: 10px;
      }
      .plus {
        margin-left: 10px;
      }
    }
    .quantity {
      label {
        display: none;
      }
      input.minus, input.plus {
        color: $black;
        border: solid $black 1px;
        &:hover {
          background: $black;
          color: $white;
        }
      }
      input.input-text {
        color: $black;
      }
      .qty {
        width: 3.631em;
        border: 1px solid $black;
        text-align: center;
      }
      input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
      }
    }
    .flex-control-nav {
      list-style: none;
      display: flex;
    }
  }

  .entry-summary {
    display: none;
  }

  section.product-top {
    background: $offWhite;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .product-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1800px;
    }
    .quantity {
      display: none;
    }
    .prod-image {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 50px;
      .product-image-dots {
        position: absolute;
        left: 100px;
        z-index: 1;
        .product-image-dot {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          margin-bottom: 15px;
          background: $white;
          cursor: pointer;
          position: relative;
          &.active, &:hover {
            &:before {
              opacity: 1;
            }
          }
          &:before {
            content: "";
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            background: #6B9D88;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 4;
            opacity: 0;
            @include hover-transition();
          }
          img {
            width: 60px;
            height: 60px;
            clip-path: circle(30px at center);
            position: relative;
            z-index: 5;
            background: $white;
          }
        }
      }
      .product-image-slider {
        z-index: 0;
      }
    }
    .prod-details {
      max-width: 720px;
      padding: 80px 100px 80px 0;
      h1, p {
        margin-bottom: 30px;
      }
      h1 {
        span {
          color: $white;
        }
      }
      .mg {
        font-weight: $medium;
        letter-spacing: 0.01em;
        font-size: 12px;
        line-height: 17px;
        background: $white;
        border: 1px solid $woocommerceSkinColor;
        padding: 22px 25px;
        border-radius: 32px;
        color: $woocommerceSkinColor;
        -webkit-text-stroke: 0;
        margin-left: 20px;
        position: relative;
        top: -23px;
        display: none;
      }

      a.added_to_cart.wc-forward {
        display: none
      }

      .woocommerce-variation.single_variation {
        display: none!important;
      }

      table.variations {
        width: 100%;
        margin-bottom: 30px;
        tr {
          display: flex;
          flex-direction: column;
        }
        td.value {
          position: relative;
          &:before {
            content: "";
            border-style: solid;
            border-width: 5px 4px 0 4px;
            border-color: #1F1F1F transparent transparent transparent;
            height: 0;
            right: 10px;
            position: absolute;
            top: 26px;
            width: 0;
          }
        }
        label {
          @extend h5;
        }
        a.reset_variations {
          opacity: 0;
        }
        select {
          -webkit-appearance: none;
          outline: none;
          background: transparent;
          color: $offBlack;
          border: none;
          padding: 10px;
          border-bottom: 1px solid $offBlack;
          border-radius: 0 !important;
          font-family: $fontMain;
          font-weight: $book;
          font-size: 20px;
          line-height: 34px;
          letter-spacing:0;
          width: 100%;
        }
      }
      .quantity {
        input {
          display: none;
        }
      }
    }
  }

  section.product-specs {
    background: $offBlack;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .specs {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1600px;
      margin: 0 auto;
    }
    .spec {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 10px;
      border-right: 1px solid #4a4a49;
      &:last-of-type {
        border-right: 0;
      }
    }
    h5, h6 {
      margin-bottom: 0;
    }
    h5 {
      color: #808080;
    }
    h6 {
      color: $white;
      margin-left: 20px;
    }
  }

  section.product-details {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .product-details-dots {
      .detail-dot {
        margin-bottom: 20px;
        opacity: 0.5;
        cursor: pointer;
        @include hover-transition();
        &.active, &:hover {
          opacity: 1;
        }
      }
    }
    .lab-results-button {
      h5 {
        opacity: 0.5;
        @include hover-transition();
      }
      &:hover {
        h5 {
          opacity: 1;
        }
      }
    }
    .slide-detail-blocks {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 50px;
    }
  }

  section.product-related {
    background: $offWhite;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        h3 {
          span {
            font-weight: $weightBlack;
            -webkit-text-stroke: 0;
            color: $offBlack;
          }
        }
      }
      .rel-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        .rel-product {
          opacity: 1;
          @include hover-transition();
          img {
            margin: 0 auto 20px;
          }
          h6, p, h5 {
            text-align: center;
          }
          h6 {
            span {
              font-weight: $bold;
            }
          }
          h5 {
            margin-top: 10px;
            span {
              font-weight: $medium;
            }
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

}