// Main Woo Styles

// Woo Buttons
.button {
   -webkit-appearance: none;
  @include button();
  border-radius: 8px !important;
  &:hover {
    background: $white;
    background: lighten($offBlack, 20%);
    border-color: lighten($offBlack, 20%);
  }
}

// Hide Woo Message
.woocommerce-message {
  display: none;
}

// Screen Reader Text Unset
label.screen-reader-text {
  height: auto;
  clip: unset;
}

// Select2 Styling
.select2-selection {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid $woocommerceSkinColor !important;
  border-radius: 0 !important;
  height: auto !important;
  padding: 10px 5px;
  .select2-selection__rendered {
    font-size: 22px;
    line-height: 30px;
    font-weight: $medium;
    color: $woocommerceSkinColor;
  }
}

label[for="shipping_state"],
label[for="billing_state"],
label[for="shipping_country"],
label[for="billing_country"] {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  top: 25px;
  b {
    border-color: $woocommerceSkinColor transparent transparent transparent;
  }
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $woocommerceSkinColor transparent;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: $woocommerceSkinColor;
}

.select2-dropdown {
  border: 1px solid $woocommerceSkinColor;
  border-top: 1px solid $woocommerceSkinColor;
  border-radius: 0;
  top: 36px;
  .select2-search {
    display: none;
  }
}