footer{
  background: $gradient;
  .title-mobile{
    display: none;
  }
  .footer-top{
      max-width: 500px;
      margin: 0 auto;
    .social{
      justify-content: center;
      display: flex;
      margin-top: 20px;
      a {
        margin-right: 30px;
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          svg g path {
            fill: $secondary;
          }
          svg path{
            fill: $secondary;
          }
        }
      }
      svg path {
        @include hover-transition();
      }
    }
    .enter-email{
      border-bottom:1px solid $white;
      width: 90%;
      margin: 0 auto;
    }
  }
  .social-mobile{
    display:none;
  }
  .footer-center{
    border-bottom: 1px solid white;
    padding: 150px 0 50px;
    .unclickable{
      pointer-events: none;
    }
    .locations{
      p{
        font-weight: $medium;
        font-family: sweet-sans-pro, sans-serif;
        font-size: 15px;
        letter-spacing: -0.23px;
        line-height: 22px;
        margin-bottom: 15px;
      }
      .locations-inner{
        max-width: 580px;
        column-count: 3;
        margin: 20px auto 0;
        .location a{
          color: $white;
          &:hover{
            color: $secondary;
          }
        }
      }
      .benefit-text{
        font-weight:700;
        line-height: 22px;
        &:hover{
          color:$secondary;
        }
      }
    }
    .unclickable{
      &.menu-item-has-children{
        pointer-events: none;
      }
      .sub-menu{
        pointer-events: all;
      }
    }
  }

  .footer-bottom{
    padding-top: 50px;
    align-items: center;
    .footer-logo {
      width: unset;
      .copyright{
        font-family: sweet-sans-pro, sans-serif;
      }
    }
  }
  .footer-menu{
    &.mobile{
      display: none;
    }
  }
  .menu-footer-menu-container{
    ul{
      li{
        &.menu-item-has-children{
          width: unset;
          a{
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.23px;
            text-transform: revert;
            font-family: sweet-sans-pro, sans-serif;
            font-weight: $medium;
            &:hover{
              color: $white;
            }
          }
        }
        .sub-menu{
          a{
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.18px;
            font-family: sweet-sans-pro, sans-serif;
            font-weight: $regular;
            &:hover{
              color: $secondary;
            }
          }
        }
      }
    }
  }
}

//newsletter form

footer{
  body .gform_wrapper .gform_footer{
    padding:0 40px 0 0;
  }
  .gform_validation_error{
    form{
      display: block;
    }
     div.validation_error{
      border-top:none;
      border-bottom: none;
    }
    .gform_footer{
      width: fit-content;
      justify-content: flex-end;
    }
  }
  form{
    display: flex;
    justify-content: space-between;
    .gform_heading{
      display: none;
    }
    input#gform_submit_button_2{
      font-size: 18px;
      margin-bottom: 0;
      background: transparent;
      border: 0;
      font-family: sweet-sans-pro, sans-serif;
      text-transform: revert;
      letter-spacing: -0.27px;
      line-height: 26px;
      font-weight: $medium;
      padding: 0;
      &:hover{
        color:$secondary;
      }
    }
    .gform_body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .ginput_container_email{
        input{
          background-color: transparent;
          border: none;
          color: $white;
          &::placeholder{
            color:white;
            font-size:18px;
            font-weight: 700;
          }
        }
      }
    }
  }
  li#field_2_1{
    margin: 0;
    padding-top: 3px;
  }
  .gform_wrapper .gform_footer{
    width: unset;
    padding-right: 30px;
    position: relative;
    display: flex;
    align-items: center;
    &:after{
      content: "";
      position: absolute;
      right:0;
      background: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow.svg);
      width: 22px;
      height: 17px;
    }
  }
}


@media only screen and (max-width: 1100px) {
  footer{
    .footer-center{
      flex-direction: column;
      align-items: center;
      padding:50px 50px;
    }
    .footer-menu{
      width: 80%;
      margin-bottom: 40px;
      ul.menu{
        justify-content: center;
        text-align: center;
        li{
          list-style: none;
          a{
            color:$white;
            font-size: 18px;
            font-weight: $medium;
          }
        }
        .sub-menu{
          li a{
            font-size: 15px;
            font-weight: $regular;
            &:hover{
              color:$secondary;
            }
          }
        }
      }
    }
    .locations{
      width: 50%;
      text-align:center;
    }
  }
  .disclosure{
    margin: 30px 0;
  }
  .footer-bottom{
    flex-direction: column-reverse;
    position: relative;
    .card-logos{
      width: 30%;
      justify-content: space-between;
      position: absolute;
      top: 30px;
    }
  }
}

@media only screen and (max-width: 640px){
  footer{
    .title-desktop{
      display:none;
    }
    .title-mobile{
      display:block;
    }
    .locations{
      display: none;
    }
    #menu-item-314, #menu-item-1404{
      display: none;
    }
    .footer-menu{
      margin-bottom: 0;
      &.mobile{
        display:block;
      }
    }
    .social-mobile{
      display:flex;
      .social{
        justify-content: center;
        display: flex;
        margin-top: 20px;
        a {
          margin-right: 30px;
          &:last-of-type {
            margin-right: 0;
          }
          &:hover {
            svg g path {
              fill: $secondary;
            }
            svg path{
              fill: $secondary;
            }
          }
        }
        svg path {
          @include hover-transition();
        }
      }
    }

    .footer-top .social{
      display: none;
    }

  }
}