// Header styles
header {
  background-color: $headerColor;

  &.container-large {
    padding: 0 30px;
    position: sticky;
    top: 0;
    overflow: unset;


    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background: transparent linear-gradient(270deg, #0246A8 0%, #00ADF1 49%, #00D4DD 100%) 0% 0% no-repeat padding-box;
    }
  }

  .logo {
    position: relative;
    left: 0;
    transform: revert;
    width: 150px;
    //height: 50px;
    svg {
      width: 100%;

      path {
        @include hover-transition;
      }
    }
  }

  .menu-main-menu-container {
    ul {
      li {
        position: unset;
        padding: 19px 15px;
        a {
          color: $secondary;
          text-transform: revert;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: -0.23px;
          font-family: sweet-sans-pro, sans-serif;
          font-weight: $medium;

          &:hover {
            color: $accent;
          }
        }

        &:before {
          display: none;
        }
        &.menu-item-has-children{
          ul.sub-menu{
            top: 115px;
            flex-direction: row;
            width: 100%;
            border-radius: 0;
            justify-content: center;
            background: $white;
            padding-top:1px;
            max-height: 0;
            box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
            &:before{
              background: #dfe5ed;
              height: 1px;
              width: 95%;
              margin-left:2.5%;
            }
            li{
              padding: 50px 20px;
              &:hover{
                background: none;
              }
            }
          }
          &:hover{
            ul.sub-menu:before{
              width: 95%;
              margin-left:2.5%;
              background: #dfe5ed;
              height: 1px;
            }
            ul.submenu{
              max-height: 800px;
            }

          }
        }
      }

      li{
        &.current-menu-item > .menu-item{
              color: $accent;
        }
        &.current-menu-item a{
          color: $secondary;
          &:hover{
            color: $accent;
          }
        }
      }

    }
  }

  .header-right {
    .btn {
      min-width: 200px;
    }

    .btn-wrap {
      margin-top: 0;
    }

    .header-phone {
      margin: 0 10px;
    }

    .other-link {
      display: none;
    }

    .header-cart-count {
      margin-left: 30px;
    }
  }

  .header-left {
    &.desktop {
      margin-right: auto;
      margin-left: 30px;
    }
  }

}

//mobile menu
.hamburger span {
  background: $secondary;
}

.nav-menu .container .menu-mobile-menu-container ul li a {
  padding: 22px 0px 22px 22px;
  color: $secondary;
  font-size: 15px;
  letter-spacing: -0.23px;
  line-height: 22px;
  text-transform: revert;
  font-family: sweet-sans-pro, sans-serif;
  font-weight: 800;
}

.nav-menu.open {
  overflow: scroll;
  top: 98px;
  background: transparent;

  .container {
    overflow: scroll;
    background: $white;
    padding-bottom: 100px;
    padding-top: 0;

    .menu-mobile-menu-container {
      background: $white;
      margin-top: 0;

      ul {
        li {
          transform: translateX(0);

          a {
            padding: 22px 0px 22px 22px;
            color: $secondary;
            font-size: 15px;
            letter-spacing: -0.23px;
            line-height: 22px;
            text-transform: revert;
            font-family: sweet-sans-pro, sans-serif;
            font-weight: 800;

            &:hover {
              color: $accent;
            }
          }

          &:nth-of-type(even) {
            background: #F8FBFF;
          }

          :before {
            display: none;
          }

          &.menu-item-has-terms {
            border-bottom: 1px solid #DCE2F0;
          }

          .sub-menu {
            li {
              &:last-of-type {
                border-bottom: none;
              }
            }
          }

        }
      }
    }
  }
}

.nav-menu .container .chunky-links {
  display: none;
}


header .menu-mobile-menu-container ul li ul.sub-menu {
  .menu-item-has-terms {
    background: $white;

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:after {
        position: absolute;
        content: "";
        background: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow-blue.svg) no-repeat;
        right: 0px;
        width: 40px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .terms {
    color: #797979;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: -0.17px;
    padding-right: 50px;
  }

  display: flex;
  background: $white;
  opacity: 1;
  height: 100%;
  overflow: visible;
  position: relative;
  top: 0;

  li.menu-item-has-terms {
    border-bottom: 1px solid #DCE2F0;
    position: relative;
    width: 91%;
    margin: 0 auto;

    &:nth-of-type(even) {
      background: white !important;
    }

    a {
      padding: 10px 0 !important;
      color: $primary;
      font-weight: 500 !important;
      margin: 0 auto;
      position: relative;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background: transparent;
    }
  }
}

