/* ====================================================================================================================================
  BASE STYLES
  Styles in here are foundations: Button styling, universal form styling, section sizes, colors, container sizes, etc.
======================================================================================================================================= */

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-family: $fontMain;
  @include flexbox();
  flex-direction: column;
  min-height: 100vh;

  &.fixed {
    overflow: hidden;
  }

  &.error404 {
    height: 100%;
  }

  .site-content {
    overflow: hidden;
  }
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: $fontColor;
  @include hover-transition;
}

i {
  font-style: italic;
}

strong {
  font-weight: $bold;
}

.text-white {
  color: $white;
}

.medium{
  font-weight: $medium;
}

.text-accent {
  color: $accentColor;
}

.text-center {
  text-align: center;
}

.btn-wrap {
  @include flexbox();
  margin-top: 20px;
}

.container {
  max-width: $container;
  padding: 100px 50px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container-large {
  max-width: 100%;
  padding: 100px 50px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container-small {
  @extend .container;
  width: $container/2;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.lazyload-wrap {
  img {
    opacity: 0;
    @include hover-transition();

    &.lazyloaded {
      opacity: 1;
    }
  }
}

.fadeUp {
  opacity: 0;
  top: 50px;
  position: relative;
}

.visible-mobile {
  display: none;
}

// Gravity Form Mobile Styling
.gform_button {
  -webkit-appearance: none;
  border-radius: 0 !important;
}

.gfield {
  input, textarea {
    outline: none;
    border-radius: 0 !important;
  }
}

// Sizes

.twenty {
  width: 20%;
}

.twenty-five {
  width: 25%;
}

.thirty {
  width: 30%;
}

.thirty-five {
  width: 35%;
}

.forty {
  width: 40%;
}

.forty-five {
  width: 45%;
}

.fifty {
  width: 50%;
}

.sixty {
  width: 60%;
}

.sixty-five{
  width: 65%;
}

.seventy-five {
  width: 75%;
}

.eighty {
  width: 80%;
}

.full {
  width: 100%;
}

// Flexbox Ready Classes

.flex {
  display: flex;
}

.flex-sb {
  justify-content: space-between;
}

.flex-jc {
  justify-content: center;
}

.flex-je {
  justify-content: flex-end;
}

.flex-ac {
  align-items: center;
}

.flex-as {
  align-items: flex-start;
}

.flex-ae {
  align-items: flex-end;
}

.flex-col{
  flex-direction: column;
}
ul.checked-list {
  list-style: none;
  margin: 30px 0;

  li {
    position: relative;
    padding-left: 30px;
    font-family: $fontBody;
    color: $pColor;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.26px;
    margin-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 18px;
      height: 12px;
      background: url(/wp-content/themes/ogkbase-woo-child/images/checkmark.svg) no-repeat center / contain;
    }
  }
}


//padding
.padding{
  padding: 100px 50px;
}
// Background Colors
.bg-offWhite {
  background: $offWhite;
}

.request-appointment-form_wrapper{
  width:420px;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  .gfield_error .gfield_label{
    color: $accent!important;
  }
  .gf_page_steps{
    position: absolute;
    border-bottom: none!important;
    top: -50px; /* TODO mobile breakpoints, desktop align with breadcrumbs */
    text-align: center;
    .gf_step_label{
      display:none!important;
    }
    .gf_step{
      margin: 0!important;
      display: inline-block!important;
      width: auto!important;
    }
    .gf_step:not(.gf_step_last) {
      &:after{
        content: '-------';
        letter-spacing: -3px;
        font-size: 20px;
        margin-left: -3px;
        position: relative;
        top: 2px;
        color: $primary;
        z-index: -1;
      }
    }

    .gf_step_number{
      width: 30px;
      height: 30px;
      border-radius:50%;
      background-color: $primary;
      color: $white;
      text-align: center;
      line-height: 30px;
      margin-right: 0px!important;
      border: 1px solid $primary;
      font-weight: $bold;
    }
    .gf_step_pending, .gf_step_completed{
      opacity: 1;
      .gf_step_number{
        background-color: $white;
        color: $primary;
      }
    }
  }
  li.gfield{
    margin-top: 0!important;
    padding-right: 0px!important;
  }
  //input, textarea{
  //  -webkit-appearance: none;
  //  margin-top:0!important;
  //}
  select{
    border-radius: 0;
  }
  .gform_heading {
    width: 100%;
  }
  .validation_error{
    color: $accent!important;
    border-color: $accent!important;
    font-family: sweet-sans-pro, sans-serif;
  }
  .gform_confirmation_message{
    color:$secondary;
    margin-top: 60px;
    h3.gform_title{
      text-align: center;
    }
    p{
      text-align: center;
    }
    a{
      color: $white;
      text-decoration: none;
      text-align: left;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: 98% 50%;
      cursor: pointer;
      background-image: url('/wp-content/themes/ogkbase-woo-child/images/btn-arrow.svg');
      &:hover{
        background-color: $primary;
      }
    }
    .btn-wrap{
      a{
        background-color: $accent;
        color: $white;
        text-decoration: none;
        &:hover{
          background-color: #a71010;
        }
      }
    }
  }
  h3.gform_title {
    letter-spacing: -0.03em!important;
    color: $primary;
    font-size: 34px!important;
    line-height: 43px;
    text-align: left;
    margin:0!important;
  }

  input[type=text], textarea, select, input[type=tel], input[type=email] {
    width: 100!important;
    align-items: center;
    background: transparent;
    border: 1px solid $secondary;
    font-weight: $medium;
    line-height: 26px;
    letter-spacing: -0.27px;
    font-size: 17px;
    color: $secondary;
    padding: 15px 0 15px 20px!important;
    font-family: sweet-sans-pro, sans-serif;
    cursor: pointer;
    &::placeholder{
      color: $secondary;
    }
  }
  .gform_body {
    .h1, #service-price {
      font-weight: 800;
    }
    .hidden_label{
      label{
        display: none!important;
      }
    }
    label {
      color: $secondary;
      font-weight: $medium;
      font-size: 18px;
      letter-spacing: -0.0015em;
      line-height: 26px;
      text-align: left;
      margin-top: 10px;
    }
    .validation_message{
      color: $accent;
      font-size: 16px;
      font-family: sweet-sans-pro, sans-serif;
    }
    select {
      -webkit-appearance: none;
    }
    .gfield_description {
      color: $accent;
      margin-bottom: 20px;
      font-family:source-serif-pro;
      font-size: 18px;
      letter-spacing: -0.27px;
      line-height: 31px;
      a{
        color: $primary;
        text-decoration: underline;
        &:hover{
          color: $accent;
        }
      }
    }

    .gfield_radio{
      display: flex;
      align-items: center;
      label{
        max-width: 100%;
      }
      input{
        -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
        -moz-appearance: checkbox;    /* Firefox */
        -ms-appearance: checkbox;
      }
    }
    .gform_previous_button{
      display: none!important;
    }
  }
  #service-price{
    font-weight: 800;
    &:before{
      content: '$';
    }
  }
  .gfield_html label{
    display: block!important;
  }

  .counter-container{
    user-select: none;
    font-size: 30px;
    font-weight: $medium;
    letter-spacing: -.00015em;
    color: $secondary;
    font-family: sweet-sans-pro, sans-serif;
    .counter-btn{
      display: inline-block;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      line-height: 24px;
      font-size: 30px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #0C2664;
      color: #0C2664;
    }
    .counter-results{
      width: 50px;
      display: inline-block;
      text-align: center;
    }
  }

  .extra_people{
    display: none;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    display:none;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    line-height: 35px;
    display: inline-block;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 0;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: url('/wp-content/themes/ogkbase-woo-child/images/checkmark-white.svg');
    width: 35px;
    height: 35px;
    background: $primary;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .ginput_complex.ginput_container_address{
    span.ginput_left.address_zip{
      width:100%;
      margin-right: 0!important;
      padding-right: 0px!important;
    }
  }

  .icon-bg input, .icon-bg select{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 98% 50%;
    cursor: auto;
  }
  .icon-bg-cal input{
    background-image: url('/wp-content/themes/ogkbase-woo-child/images/cal-icon.png');
  }
  .icon-bg-clock input{
    background-image: url('/wp-content/themes/ogkbase-woo-child/images/clock-icon.png');
  }
  .icon-bg-arrow-down select{
    background-image: url('/wp-content/themes/ogkbase-woo-child/images/icon-arrow-down.png');
  }
  .icon-bg-arrow-right input{
    background: url('/wp-content/themes/ogkbase-woo-child/images/btn-arrow.svg');
  }

  .button {
    display: block !important;
    border-radius: 0px !important;
    width: 100% !important;
    padding: 15px 20px;
    text-transform: revert;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
    color: #fff;
    border-radius: 0;
    background: #F51644;
    background-color: #F51644;
    text-align: center;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;

    a {
      color: #fff;
      text-decoration: none;
    }

    &.gform_next_button{
      text-align: left;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: 98% 50%;
      cursor: pointer;
      background-image: url('/wp-content/themes/ogkbase-woo-child/images/btn-arrow.svg');
    }

  }
}

section.consent-form-section {
  .container{
    max-width: 560px;
    margin: 0 auto;
  }
  .small-title{
    margin-top: 20px;
  }
  input[type=text], textarea, select, input[type=tel], input[type=email] {
    align-items: center;
    background: transparent;
    border: 1px solid $secondary;
    font-weight: $medium;
    line-height: 22px;
    letter-spacing: -0.23px;
    font-size: 15px !important;;
    color: $secondary;
    padding: 15px 0 15px 20px !important;
    font-family: sweet-sans-pro, sans-serif;
    cursor: pointer;

    &::placeholder {
      color: $secondary;
      font-family: sweet-sans-pro, sans-serif;
    }
  }

  .gfield_label {
    font-family: sweet-sans-pro, sans-serif;
    color: $secondary;
    font-size: 18px !important;
    letter-spacing: -0.27px;
    line-height: 26px;
  }

  li {
    &:first-child {
      display: flex;
      align-items: center;
      width: 100%;

      .ginput_container_text {
        width: 100%;
        margin-left: 10px;
      }
    }
  }

  li {
    color:$secondary;
    font-family: source-serif-pro, serif;
    font-size: 15px;
    letter-spacing: -0.23px;
    line-height: 19px;
  }

  ul.checked-list {
    margin-left: 0 !important;
    list-style-type: none!important;
    li {
      display: flex;
      list-style-type: none!important;
      list-style: none;
      margin-left: 0;
      padding-left: 30px;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.23px;

      &:before {
        content: "";
        left:-26px;
      }
    }
  }

  .button {
    padding: 15px 60px;
    text-transform: revert;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
    color: #fff;
    background: #F51644;
    background-color: #F51644;
    text-align: center;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin-top: 20px;
    width: 100%;
    &:hover{
      background: #9e0726;
    }
  }
  #input_6_17_Container{
    width: 100%;
    .input, .canvas{
      width: 100%;
    }
  }
}

//posts

body.single-post {
  section.blog-content {
    .blog-container {
      margin: 0 auto;
      margin-top: -160px;
      max-width: 700px;
      padding:50px;
      h2{
        margin: 40px 0 20px;
        font-size:25px;
        font-weight:$medium;
        letter-spacing: -0.38px;
        line-height:35px;
      }
      .h3{
        margin: 20px 0;
        font-weight: $medium;
      }
      ul{
        margin: 20px 0;
      }
      p{
        margin-bottom: 20px;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      .content{
        margin:  40px 0;
        span{
          color:#00ADF1;
        }
        a{
          color: $primary;
          &:hover{
            color: $accent;
          }
        }
        ul, ol{
          list-style: none;
          li{
            font-family: source-serif-pro,serif;
            color: #0C2664;
            font-weight: 400;
            font-size: 18px;
            line-height: 31px;
            letter-spacing: -0.27px;
            position: relative;
            padding-left: 40px;
            &:after{
              position: absolute;
              content: "";
              background: url(/wp-content/themes/ogkbase-woo-child/images/checkmark.svg) no-repeat;
              width: 22px;
              height: 17px;
              left:0;
              top:6px;
            }
          }
        }
      }
      .blog-image{
        img{
          margin: 0 auto;
        }
      }
      .post-buttons{
        margin-top: 60px;
        a {
          color: $secondary;
          font-weight: $medium;

          &.left {
            position: relative;
            padding-left: 40px;


            &:before {
              position: absolute;
              content: "";
              width: 22px;
              height: 17px;
              left:0;
              background: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow-blue.svg) no-repeat center / contain;
              transform: rotate(180deg);
              @include hover-transition();
            }
            &:hover{
              &:before{
                @include hover-transition();
                transform: rotate(180deg) translateX(10px);
              }
            }
          }

          &.right {
            position: relative;
            padding-right: 40px;

            &:after {
              position: absolute;
              content: "";
              right: 0;
              width: 22px;
              height: 17px;
              background: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow-blue.svg) no-repeat center / contain;
              @include hover-transition();
            }
            &:hover{
              &:after{
                @include hover-transition();
                transform:translateX(10px);
              }
            }
          }
        }
      }
    }
  }
}


.added_to_cart.wc-forward{
  display:none;
}


//404

.error-inner {
  .h2{
    margin:20px auto;
  }
  .h3 {
    font-weight: $medium;
    max-width: 550px;
    margin:0 auto;
  }
  .logo{
    width:100px;
    margin:20px auto;
  }
  .btn-wrap{
    margin-top: 30px;
  }

    .error-button{
      background: $accent;
      padding-right: 140px;
      @include hover-transition();
      &:hover {
        background: darken($accent, 20%);
      }
    }
}

//minicart
.mini-cart .wc-proceed-to-checkout .button{
  border-radius: 0 !important;
}
.mini-cart table.shop_table td.actions .coupon .coupon-input-wrap {
  input, button{
    border-radius: 0 !important;
  }
}
.mini-cart table.shop_table td.actions .coupon .coupon-input-wrap input{
  font-family: sweet-sans-pro, sans-serif;
}
.mini-cart table.shop_table .quantity input{
  border-radius: 0;
  font-family: sweet-sans-pro, sans-serif;
}
header.checkout-header{
  background: $primary;
  .container .left a{
    font-family: sweet-sans-pro, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.27px;
    text-transform: revert;
  }
  .container .right .cart-count .cart-count-number-span{
    font-weight:700;
  }
}
.header-cart-count .icon .cart-count-number span{
  font-family: sweet-sans-pro, sans-serif;
  font-weight: 700;
}

header.checkout-header.cart-open {
  margin-top: 0px;
}

.logo{
  svg{
    max-width: 100%;
  }
}

.order-review-wrap{
  .item-detail-line_left{
    p{
      display: flex;
      align-items: center;
    }
    img{
      display:inline-block;
      height: 70px;
      width:auto;
      margin-right: 10px;
    }
  }
}
.woocommerce-order-overview__payment-method.method{
  display:none;
}
.woocommerce-table__line-item.order_item{

  padding: 10px 0;
}

.edit-cart-link{
  float:right;
  margin-top: 10px;
  color: $primary;
}

#s{
  border: 1px solid $primary;
  border-radius: 30px;
  padding: 8px 30px 8px 15px;
  color: $secondary;
  font-size: 18px;
  &::placeholder {
    color: $secondary;
  }
}

.search-container{
  position: relative;
  svg{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

section.search{
  width:100%;
  position: relative;
  #searchsubmit{
    display: none;
  }
}

.search-card{
  .h4{
    text-transform: capitalize;
    font-size: 18px;
    color: $primary;
  }
}

//privacy policy
section.privacy-policy-section{
  .small-text{
    font-weight: $medium;
  }
  .privacy-policy{
    max-width: 420px;
    p{
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.23px;
    }
  }
}
@media only screen and (max-width: 991px){
  section.consent-form-section {
    .container {
      max-width: 510px;
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width: 700px){
 section.privacy-policy-section{
   .container{
     flex-direction: column;
   }
   .related-articles{
     width: 100%;
     margin-bottom: 40px;
   }
   .privacy-policy{
     max-width: unset;
   }
 }
}

.woocommerce-orders-table__cell {
  .woocommerce-Price-amount.amount{
    margin-right: 5px;
  }
}

#checkout{
  .btn-wrap{
    .back{
      background: $secondary;
      &:hover{
        background: $primary;
      }
    }
  }
  .btn{
    padding-left:30px;
    padding-right:30px;
  }
  li{
    margin-left:0;
  }
  .item-detail-line_right{
    display: flex;
    align-items: center;
  }
  .select2-selection__rendered{
    padding-left: 0;
  }
}

.pagination-container{
  padding: 50px;
  display:flex;
  justify-content: center;
  a, span{
    color: $secondary;
    margin: 0 10px;
    &:hover{
      color:$accent;
    }
  }
  .next, .prev{
    font-weight: $medium;
  }
  .next{
    padding-right:40px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    &:after{
      position: absolute;
      content:"";
      background-image: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow-blue.svg);
      width: 22px;
      height: 17px;
      right:0;
    }
  }
  .prev{
    position: relative;
    padding-left:40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    &:before{
      position: absolute;
      content:"";
      background-image: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow-blue.svg);
      width: 22px;
      height: 17px;
      left:0;
      transform: rotate(180deg);
    }
  }
}
ul.woocommerce-error li {
  color: $accent;
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
  font-weight: 800;
}

//inview
.inview-fadeUp {
  opacity: 0;
  top: 50px;
  position: relative;
  transition: all 0.8s ease-in-out;
}

.fadeUp {
  opacity: 1;
  top: 0;
}

//content container
.content-container{
  h2, p{
    margin-bottom: 20px;
  }
}