/* +++++++++++++++++   Media Queries  ++++++++++++++++++++++ */

/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Large - 1920px ***************** */
/* *********************************************************************** */

@media only screen and (max-width:$breakpoint-desktop-large){


}

/* ********************************************************************* */
/* *****************  BREAKPOINT: Desktop Med - 1440px ***************** */
/* ********************************************************************* */

@media only screen and (max-width:$breakpoint-desktop-med){



}

/* ********************************************************************* */
/* *****************  BREAKPOINT: Desktop Med - 1280px ***************** */
/* ********************************************************************* */

@media only screen and (max-width: 1280px){



}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Small - 1170px ***************** */
/* *********************************************************************** */
@media only screen and (max-width: 1170px){

  // Typography
  h1, .h1 {
    font-size: 33px;
    line-height: 39px;
  }
  h2, .h2 {
    font-size: 30px;
    line-height: 39px;
  }
  body.single-post section.blog-content .blog-container h2{
    font-size:20px;
  }
  body.single-post section.blog-content .blog-container{
    margin-top: -220px;
  }
  h3, .h3 {
    font-size: 20px;
    line-height: 26px;
  }
  h4, .h4 {
    font-size: 25px;
    line-height: 29px;
  }
  h5, .h5 {
    font-size: 20px;
    line-height: 26px;
  }

  .header-right {
    .buttons {
      display: none;
    }
  }
  .mobile-buttons{
    display:flex!important;
    top: 116px;
    position: sticky;
    justify-content: space-evenly;
    z-index:2;
    background: linear-gradient( to right, #00D4DD, #00ADF1, #0246A8 );
    .mobile-nav-but{
      padding: 15px 0 15px 0;
      font-weight: $bold;
      color: $white;
      width: 50%;
      text-align: center;
      font-size: 13px;
      &.call{
        border-right: 1px solid rgba(255,255,255,.5);
      }
    }
  }
}

/* *********************************************************************** */
/* *****************  BREAKPOINT: Desktop Small - 1060px ***************** */
/* *********************************************************************** */

@media only screen and (max-width:$breakpoint-desktop-small){


}

/* ********************************************************************** */
/* *****************  BREAKPOINT: Tablet Large - 991px ****************** */
/* ********************************************************************** */

@media only screen and ( max-width:$breakpoint-tablet-large){

  .container {
    padding: 50px 20px;
  }
  .container-large {
    padding: 50px 20px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
  }

  .fifty{
    width: 100%;
  }

  header{
    .logo{
      margin: 0 auto 0 auto;
      width: auto;
      svg, img{
        width: 135px;
        height: 25px;
        margin-top: 15px;
      }
    }
    &.container-large{
      padding: 5px 20px!important;
    }
  }
  .header-right{
    position:absolute;
    width: calc(100% - 20px);
    left:0;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .mobile-buttons {
    top:60px;
    .mobile-nav-but {
      padding: 10px 0 10px 0;
      font-size:12px;
    }
  }
}

/* **************************************************************** */
/* *****************  BREAKPOINT: Tablet - 785px ****************** */
/* **************************************************************** */

@media only screen and ( max-width:$breakpoint-tablet){

  .visible-tablet{
    display:block !important;
  }
  .hidden-tablet{
    display:none !important;
  }


}

/* *************************************************************** */
/* *****************  BREAKPOINT: Phone - 600px ****************** */
/* *************************************************************** */

@media only screen and ( max-width: 600px ){

p{
  font-size: 15px;
}
  body.single-post section.blog-content .blog-container{
    padding: 50px 20px;
  }
  body.single-post section.blog-content .blog-container .content ul li{
    font-size:15px;
  }
  h2{
    font-size: 27px;
  }
  .h2{
    font-size:27px;
  }
  .footer-posts{
    .container{
      flex-direction: column;
      align-items: center;
    }
  }

}

/* *************************************************************** */
/* *****************  BREAKPOINT: Phone - 480px ****************** */
/* *************************************************************** */

@media only screen and ( max-width:$breakpoint-phone ){

  .visible-mobile{
    display:flex !important;
  }
  .hidden-mobile{
    display:none !important;
  }

}