.card-single{
  box-shadow: 0 2px 6px #bcc1dd8d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .h3{
    margin-bottom: 0;
    a{
      color: $secondary;
      letter-spacing: -.0015em;
      transition: ease-in-out .3s;
      font-weight: $medium;
      &:hover{
        color: $accent;
      }
    }
  }
  .btn{
    background: $btn-gradient;
    width: 100%;
    padding-right: 40px;
    padding-left: 10px;
    transition: ease-in-out .3s;
    position: relative;
    text-align: left;
    &:hover{
      background-image: linear-gradient($secondary, $secondary);
    }
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 10px;
      width: 22px;
      height: 18px;
      background: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow.svg) no-repeat center/contain;
    }
  }
  .line-seperator{
    width: 50%;
    border-top: 3px solid $primary;
    height: 20px;
  }
  .line-seperator-lower{
    width: 50%;
    border-top: 3px solid $primary;
    height: 20px;
  }
  .card-tags{
    font-size: 15px;
    font-family: source-serif-pro, serif;
    color: $secondary;
    line-height: 23px;
    letter-spacing: -0.23px;
  }
  button.single_add_to_cart_button.btn{
    font-weight: 700;
  }
}