.article-single{
  width: calc(50% - 60px);
  margin: 0 30px 60px;

  .h3{
    font-weight: $medium;
  }
  .category{
    margin-bottom: 0;
    font-size:15px;
    font-weight: $medium;
    a{
      color:$primary;
      font-weight:$medium;
    }
  }
  .iv-therapy{
    padding:20px 0;
    img{
      width: 16px;
      height: 20px;
      margin-right: 10px;
    }
  }
  .excerpt{
    margin-bottom: 20px;
    font-size:15px;
    letter-spacing: -0.23px;
    line-height: 23px;
    font-family: source-serif-pro, serif;
    color: $secondary;

  }
  .image{
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and ( max-width: 840px) {
  .article-single{
    width: calc(100%);
    margin: 0 auto 50px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}