/* Set universal font sizes and styles here */

h1, .h1 {
  font-family: $fontHeader;
  color: $primary;
  font-weight: $regular;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: -0.68px;
  margin-bottom: 20px;
  text-transform: revert;
}

h2, .h2 {
  font-family: $fontHeader;
  color: $secondary;
  font-weight: $regular;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -0.53px;
  text-transform: revert;
}

h3, .h3 {
  font-family: $fontHeader;
  color: $secondary;
  font-weight: $regular;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: -0.45px;
  margin-bottom: 20px;
  -webkit-text-stroke: 0;
  text-transform: revert;
  &.medium {
    font-weight: $medium;
  }
}

.med-title {
  font-family: $fontHeader;
  color: $secondary;
  font-weight: $regular;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: -0.45px;
  margin-bottom: 20px;
}

.small-title {
  font-family: $fontHeader;
  color: $secondary;
  font-weight: $medium;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.27px;
  margin-bottom: 20px;
  max-width: 600px;
}

p {
  font-family: $fontBody;
  color: $pColor;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: -0.27px;
}
.small-text{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.18px;
  font-family: sweet-sans-pro, sans-serif;
}

.benefit-text{
  font-size:15px;
  letter-spacing: -0.23px;
  line-height: 23px;
}


// Colors
.tc-wht {
  color: $white;
}
.tc-acc {
  color: $accent;
}
.tc-prim {
  color: $primary;
}

// Alignment
.ta-center {
  text-align: center;
}