html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, svg, hr {margin: 0;padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline; font-weight: normal;} 

// Sass Settings,  Variables and Mixins
@import
"partials/settings",
"partials/variables",
"partials/mixins",
"partials/owl-carousel";


/*********************
STYLESHEETS
*********************/

// import all stylesheets
@import "stylesheets/typography", "stylesheets/main", "stylesheets/hero", "stylesheets/header", "stylesheets/footer", "stylesheets/content-search";


// import all woocommerce stylesheets
@import
"woo/single-product",
"woo/archive-product",
"woo/cart",
"woo/checkout",
"woo/my-account",
"woo/woo-main",
"woo/dashboard";



// Import Media Queries File LAST
@import "stylesheets/media-queries";

@import "woo/mini-cart-media-queries";