// Button Styles


// Default Button
.btn-wrap {
  display: flex;
  margin-top: 50px;
}

.btn {
  padding: 15px 60px;
  text-transform: revert;
  font-family: $fontMain;
  font-weight: $bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.27px;
  color: $white;
  border-radius: 0;
  background: $accent;
  text-align: center;
  border: 1px solid transparent;
  @include hover-transition();

  &:hover {
    background: darken($accent, 20%);
    color:$white;
    border: 1px solid transparent;
  }

  &.small {
    padding: 11px 20px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.23px;
  }

  &.outline {
    box-sizing: border-box;
    border: 1px solid $secondary;
    color: $secondary;
    background: transparent;

    &:hover {
      background: $secondary;
      color: $white;
    }
  }

}
.read-btn-wrap{
  display:flex;
  margin-top:20px;
}
.read-more-btn{
  position: relative;
  padding-right: 40px;
  color: $primary;
  font-weight: $bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.27px;
  display: flex;
  align-items: center;
  &:after{
    position: absolute;
    content: " ";
    width: 22px;
    height: 17px;
    right:0;
    background: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow-blue.svg) no-repeat center / contain;
    @include hover-transition();
  }
  &:hover{
    &:after{
     transform: translateX(10px);
     @include hover-transition();
    }
  }
}

.btn-arrow {
  padding: 19px 64px 19px 15px;
  background: $btn-gradient;
  color: $white;
  font-weight: $medium;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.27px;
  position: relative;
  transition: none;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 22px;
    height: 17px;
    background: url(/wp-content/themes/ogkbase-woo-child/images/btn-arrow.svg) no-repeat center / contain;
  }

  &:hover {
    background: $secondary;
  }
}

@media only screen and (max-width: 600px) {
  .btn{
    width: 100%;
  }
  .btn-arrow{
    width: 100%;
  }
}